<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>

    <div>Header</div>

    <div class="container">
      {{ content | safe }}
    </div>

    <div>Footer</div>

  </body>
</html>
