.banner {
  background: colour(rose);
  padding: spacing(m);
  color: colour(midnight);
  display: flex;
  justify-content: space-between;

  > * {
    margin: 0;
  }

  @include respond-to("mobile") {
    padding: 20px 8px;

    .button {
      transform: translateY(5px);
    }
  }
}
