.banner {
  background: colour(rose);
  padding: spacing(m);
  color: colour(midnight);
  display: flex;
  justify-content: space-between;

  > * {
    margin: 0;
  }

  .button {
    align-self: center;
  }

  @include respond-to("mobile") {
    padding: 20px 8px;
  }
}

.banner--midnight {
  background: colour(midnight);
  color: colour(white);
}