.benefits-list {
  display: flex;
  flex-wrap: wrap;
  @include respond-to("mobile") {
    display: block;
    width: 1650px;
  }
}

.benefits-list__item {
  flex: 0 50%;
  margin-bottom: spacing(m);
  padding-right: spacing(s);

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to("mobile") {
    display: inline-block;
    width: 250px;
    margin-right: 20px; 
    vertical-align: top;
  }
}

.container--benefits {
  .icon {
    margin-bottom: 10px;
  }
}

.benefits-list-container {
  @include respond-to("mobile") {
    overflow: auto;
    max-width: 100vw;
  }
}