.button {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  color: colour(midnight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: colour(rose);
  border: 1px solid transparent;
  padding: 12px spacing(s);
  border-radius: 3px;
  line-height: 1;
  height: 40px;

  &:focus {
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    outline: none;
  }

  &:hover {
    background: $midnight;
    border: 1px solid colour(rose);
    color: colour(rose);
  }

}

.button--outline-midnight {
  background: transparent;
  border: 1px solid colour(midnight);
  color: colour(midnight);
  transition: all .2s ease-in-out;

  &:hover {
    background: $midnight;
    border: 1px solid transparent;
    color: colour(rose);
  }

}

.button--outline-rose {
  background-color: transparent;
  border: 1px solid colour(rose);
  color: colour(rose);

  &:hover {
    background: $rose;
    border: 1px solid colour(midnight);
    color: colour(midnight);
  }
}
