.card-group {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  @include respond-to("mobile"){
    grid-template-columns: 1fr;
  }

  &.card-group--two {
    grid-template-columns: 1fr 1fr;
    @include respond-to("mobile"){
      grid-template-columns: 1fr;
    }
  }
}

.card-group--list {
  display: block;

  .card {
    margin-bottom: spacing(m);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  background-color: colour(midnight);
  color: #fff;
  padding: spacing(m);
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;

  .card__intro,
  .card__location,
  .h3 {
    transition: all .1s ease-in-out;
  }
  .card__summary {
    color: white;
  }

  img {
    margin-top: -1 * spacing(m);
    margin-left: -1 * spacing(m);
    margin-right: -1 * spacing(m);
    margin-bottom: spacing(m);

    $spacing: spacing(m) * 2;
    width: calc(100% + #{$spacing});
    object-fit: cover;
  }

  .card__label {
    display: block;
    color: white;
    text-decoration: none;

    .icon {
      float: right;
    }
  }

  h3 {
    width: 90%;
  }

  &:hover {
    background-color: colour(midnight);
    color: $rose;

    h3,
    .card__label,
    .card__intro,
    .card__location {
      color: $rose;
    }

    .card__summary {
      color: white;
    }

    .icon {
      transform: translateX(10px);
      fill: $rose;
    }
    .icon--external {
      transform: none;
    }
  }
}
.card__link {
  color: white;
  transition: all .2s ease-in-out;

  h3,
  .card__label,
  .card__intro,
  .icon,
  .card__location {
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
}
.card__hover-link {
  position: relative;

  a::before {
    content: '';
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }
}


.card__intro {
  display: block;
  font-style: italic;
  color: white;
  margin-bottom: spacing(s);

  .card--grey & {
    color: colour(midnight);
  }
}

.card--grey {
  background-color: colour(light-grey);
  color: colour(midnight);
  position: relative;
  padding: 25px 30px;

  .card__intro {
    color: colour(midnight);
  }

  a {
    color: colour(midnight);
    width: 75%;

    &:hover {
      color: colour(midnight);;
    }
  }

  .icon {
    position: absolute;
    right: 30px;
    bottom: 35px;
    transition: all .2s ease-in-out;
  }
}

.card__label {
  font-style: italic;
}

.card__location {
  display: block;
  font-style: italic;
  color: white;

  .icon{
    float: right;
    transition: all .2s ease-in-out;
  }
}
