.card-group {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  &.card-group--two {
    grid-template-columns: 1fr 1fr;
  }

  .decoration {
    z-index: -1;
    right: -90px;
    top: -131px;
  }
}

.card-group--list {
  display: block;

  .card {
    margin-bottom: spacing(m);
  }
}

.card {
  background-color: colour(midnight);
  color: #fff;
  padding: spacing(m);
  border-radius: 3px;
  overflow: hidden;

  img {
    margin-top: -1 * spacing(m);
    margin-left: -1 * spacing(m);
    margin-right: -1 * spacing(m);
    margin-bottom: spacing(m);
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    font-style: italic;

    &:hover {
      color: #fff;
    }

    .icon {
      float: right;
    }

    // &:after {
    //   content: '\02192';
    //   display: inline-block;
    //   float: right;
    // }
  }
}

.card__intro {
  display: block;
  font-style: italic;
  color: white;
  margin-bottom: spacing(s);

  .card--grey & {
    color: colour(midnight);
  }
}

.card--grey {
  background-color: colour(light-grey);
  color: colour(midnight);

  .card__intro {
    color: colour(midnight);
  }

  a {
    color: colour(midnight);
  }

  .icon {
    float: right;
  }
}
