.collapsable__section {
  margin-bottom: 30px;
}
.collapsable__button {
  background: none;
  border: 0;
  color: white;
  padding: 18px 30px;
  width: 100%;
  text-align: left;

  &:hover {
    color: $rose;
  }

  &:after {
    content:'';
    background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" xml:space="preserve"><g transform="translate(899.000000, 17.000000)" ><g><path fill="%23F3A7C9" d="M-869.5-13c1.4,0,2.5,1.1,2.5,2.5V11h21.5c1.4,0,2.5,1.1,2.5,2.5c0,1.4-1.1,2.5-2.5,2.5H-867l0,21.5c0,1.4-1.1,2.5-2.5,2.5s-2.5-1.1-2.5-2.5l0-21.5h-21.5c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5h21.5v-21.5C-872-11.9-870.9-13-869.5-13z"/></g></g></svg>');
    float: right;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;

    // .collapsable__item:nth-of-type(even) & {
      // background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" xml:space="preserve"><g transform="translate(899.000000, 17.000000)" ><g><path fill="%23293846" d="M-869.5-13c1.4,0,2.5,1.1,2.5,2.5V11h21.5c1.4,0,2.5,1.1,2.5,2.5c0,1.4-1.1,2.5-2.5,2.5H-867l0,21.5c0,1.4-1.1,2.5-2.5,2.5s-2.5-1.1-2.5-2.5l0-21.5h-21.5c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5h21.5v-21.5C-872-11.9-870.9-13-869.5-13z"/></g></g></svg>');
    // }
  }

  &[aria-expanded="true"]:after{
    content:'';
    background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" xml:space="preserve"><g transform="translate(899.000000, 17.000000)"><path fill="%23F3A7C9" d="M-892.7,10.9h46.4c1.8,0,3.3,1.3,3.3,2.8l0,0c0,1.5-1.5,2.8-3.3,2.8h-46.4c-1.8,0-3.3-1.3-3.3-2.8l0,0C-896,12.1-894.5,10.9-892.7,10.9z"/></g></svg>');
    // .collapsable__item:nth-of-type(even) & {
      // background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" xml:space="preserve"><g transform="translate(899.000000, 17.000000)"><path fill="%23293846" d="M-892.7,10.9h46.4c1.8,0,3.3,1.3,3.3,2.8l0,0c0,1.5-1.5,2.8-3.3,2.8h-46.4c-1.8,0-3.3-1.3-3.3-2.8l0,0C-896,12.1-894.5,10.9-892.7,10.9z"/></g></svg>');
    // }
  }
}

.collapsable__item {
  background: $midnight;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;

  // &:nth-of-type(even) {
  //   background: $rose;
  //   & .collapsable__button {
  //     color: $midnight;
  //   }
  //   & .collapsable__content {
  //     color: $midnight;
  //   }
  // }
}

.collapsable__content {
  padding: 18px 30px;
}

.collapsable__sectionTitle {
  margin: 20px 0 15px;
}

