.decoration {
  background-color: $rose;
  position: absolute
}

.decoration--circle {
  border-radius: 50%;
}
.decoration--circle__lg {
  height: 220px;
  width: 220px;

  @include respond-to('tablet') {
    height: 133px;
    width: 133px;
  }
}
.decoration--circle__xlg {
  height: 262px;
  width: 262px;

  @include respond-to('tablet') {
    height: 157px;
    width: 157px;
  }
}

.decoration--circle__sm {
  height: 165px;
  width: 165px;

  @include respond-to('tablet') {
    height: 99px;
    width: 99px;
  }
}
.decoration--rectangle,
.decoration--long-rectangle {
  width: 360px;
  height: 400px;

  @include respond-to("mobile"){
    width:60%;
    height: 482px;
  }
}

.container--editorial {
  .decoration--rectangle {
    top: 0;
    z-index: -1;
    height: calc(100% - 260px);
    @include respond-to('tablet') {
      height: 482px;
      right: 10px;
      left: auto;
      bottom: spacing(l);
      top: auto;
    }

    &.decoration--offset-70{
      height: calc(100% - 330px);
    }
  }
  .decoration--long-rectangle{
    top: 0;
    z-index: -1;
    height: calc(100% - 70px);
    @include respond-to('tablet') {
      right: 10px;
      left: auto;
      height: 412px;
      top: auto;
      bottom: spacing('l');
    }
  }

  .decoration--circle {
    bottom: 25px;
    z-index: -1;

    @include respond-to('tablet') {
      bottom: -80px;
      z-index: -1;
      right: 20%;
    }
    &.decoration--offset-70{
      bottom: 95px;
    }
  }
}

.container--benefits {
  .decoration {
    position: absolute;
    top: -345px;
    // top: -145px;
    // right: -250px;
    // @include respond-to('large'){
    //   right: 0;
    // }
    @include respond-to('tablet'){
      top: -305px;
      right: 18%;
    }
  }
}

.location {
  .decoration {
    top: -145px;
  }
}

.footer {
  .decoration {
    top: -150px;
    @include respond-to('tablet'){
      right: 10%;
      top: -130px;
    }
  }
}

.masthead {
  .decoration {
    top: -115px;
    left: 240px;
    @include respond-to('mobile'){
      top: -75px;
    }
  }
}

.card-group {
  .decoration {
    z-index: -1;
    right: -90px;
    top: -131px;
    @include respond-to('mobile'){
      top: -75px;
    }
  }
}

.decoration--up {
  top: -45px;
  z-index: -1;
}

.job--process {
  .decoration {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 131px;
    @include respond-to('mobile'){
      left: initial;
      right: 30px;
      top: 0px;
    }
  }
}

.fixed-decorations,
.jobs-decorations {
  .decoration--rectangle {
    right: 0;
    height: 610px;
    z-index: -1;
  }

  .decoration--circle {
    top: 700px;
    right: 95px;
  }
}
.fixed-decorations {
  @include respond-to('mobile'){
    display: none;
  }
}