.description-card {
  display: flex;
  flex-direction: column; 
  @include respond-to('mobile') {
    margin-bottom: 20px;
  }
}

.description-card__img {
  width: 100%;
  margin-bottom: 30px;
  @include respond-to('mobile') {
    margin-bottom: 20px;
    margin-left: 20%;
    width: 80%;

    .description-card--reverse &{
      margin-left: 0;
    }
  }
}

.description-card__text {
  margin-bottom: 30px;
  p {
    color: $midnight;
  }
}

.description-card__container{
  position: relative;
}

.description-card--offset-70 {
  transform: translateY(-70px);
}
