.description-card {
  display: flex;
  flex-direction: column; 
  @include respond-to('mobile') {
    margin-bottom: 50px;
  }
}
.description-card--reverse {
  @include respond-to('mobile') {
    flex-direction: column-reverse; 
  }
}

.description-card__img {
  width: 100%;
  margin-bottom: 30px;
  @include respond-to('mobile') {
    margin-bottom: 20px;
    width: 80%;

    .description-card--reverse &{
      margin-left: 20%;
    }
  }
}

.description-card__text {
  margin-bottom: 30px;
}

.description-card__container{
  // display: flex;
  position: relative;
}