.footer {
  background: colour(midnight);
  color: colour(white);
  margin-top: 135px;

  ul {
    li {
      display: inline-block;
    }
  }

  > .container {
    padding: spacing(l) 0;
  //   position: relative;

  //   &:after {
  //     $size: 165px;
  //     content: '';
  //     display: block;
  //     background-color: colour(rose);
  //     border-radius: 50%;
  //     width: $size;
  //     height: $size;
  //     position: absolute;
  //     top: -50%;
  //     right: 75px;
  //     transform: translateY(50%);
  //   }
  }

  @include respond-to("mobile"){
    padding: 10px;
  }
}

.footer__amen {
  display: block;
  margin-bottom: spacing(l);
}

.footer__links {
  text-align: right;

  @include respond-to('mobile'){
    text-align: left;
    margin-top: 25px;

    ul {
      margin-left: 0;
      transform: translateX(-15px);
    }
  }

  li {
    margin-left: spacing(s);
  }

  a {
    color: colour(white);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $rose;
    }
  }
}

.footer__twitter {
  margin-left: 25px;
  transform: translateY(10px);
  display: inline-block;
}

.footer__link {
  display: block;
  margin-bottom: spacing(s);
}