.hero {
  h1 {
    width: 60%;
    max-width: 600px;

    @include respond-to('tablet') {
      width: 100%;
      max-width: 100%;
    }
  }
}

.hero__intro {
  font-style: italic;
  display: block;
  margin-bottom: spacing(s);

  &:empty:before {
    content: '\a0';
    display: block;
  }
}

.hero__back {
  font-style: italic;
  display: block;
  text-decoration: none;
}
