.icon--medium {
  height: 30px;
  width: 30px;
}

.icon--small {
  height: 16px;
  width: 16px;
}

.icon--white {
  fill: white;
}

.icon--rose {
  fill: $rose;
}

.icon--midnight {
  fill: $midnight;
}