.job-search-form {
  select {
    float: left;
    width: 25%;
    margin-right: 15px;

    @include respond-to("tablet") {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  button {
    float: left;
  }

  .icon {
    fill: $midnight;
  }
}
.custom-input__container {
  position: relative;
  float: left;
  width: calc(50% - 140px);
  margin-right: 15px;
  @include respond-to("medium") {
    width: 30%;
  }
  @include respond-to("tablet") {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.custom-input {
  width: 100%;
}

.custom-input__icon {
  position: absolute;
  right: 0;
  top: 5px;
}
