.logo {
  background: white;
  width: 139px;
  height: 75px;
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  &:nth-child(2n+1) {
    margin-right: 25px;
  }

  svg,
  .logo__image {
    max-height: 70%;
    max-width: 85%;
    display: block;
    margin: 0 auto;
    @include vertical-middle;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
  }
}

.logo__container {
  background: colour(light-grey);
  padding: 30px 30px 10px;
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
