.logo {
  background: white;
  width: 139px;
  height: 75px;
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 20px;
  &:nth-child(2n+1) {
    margin-right: 25px;
  }

  svg {
    max-height: 100%;
    max-width: 100%;
  }
}

.logo__container {
  background: colour(light-grey);
  padding: 30px 30px 10px;
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}