.point-list {
  list-style-type: none;
}

.point-list__item {
  
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
 
  
  &:before {
    content: '';
    background-color: $rose;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -17px;
    width: 5px;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: -26px;
    top: 0px;
    height: 23px;
    width: 23px;
    background: $rose;
    display: inline-block;
    border-radius: 50%;
  }
}