.point-list {
  list-style-type: none;
  margin-left: 65px;
  margin-top: spacing('m');

  @include respond-to('mobile'){
    margin-left: 35px;
  }
}

.point-list__item {
  
  position: relative;
  margin: 0;
  padding-bottom: spacing('m');
  padding-left: 20px;
 
 .h4 {
   transform: translateY(-5px);
 }
  &:before {
    content: '';
    background-color: $rose;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -17px;
    width: 5px;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: -26px;
    top: 0px;
    height: 23px;
    width: 23px;
    background: $rose;
    display: inline-block;
    border-radius: 50%;
  }

  &:last-child {
    &:before {
      content: '';
      width: 0;
    }
  }
}