---
title: Design team — Digital careers at PA
layout: default
---

<div class="bg-midnight colour-white pb-xl">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 col-12 pb-m">
        <div class="hero">
          <h1 class="hero__title h1 pt-s">Design</h1>
          <a href="{{ '/about' | url }}" class="colour-rose italic hero__back">&larr; Back to About us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-l container--editorial">
  <div class="row">
    <div class="col col-lg-8 mt-m col-12 ">
      <h2 class="h2">We have deep specialist skills, a generalist attitude and militant collaboration at our core</h2>
    </div>
  </div>  
</div>
<div class="description-card__container container mb-xl container--editorial">
  <div class="row">
    <div class="col col-lg-8 mb-l col-12 align-self-start ">
      <p class="intro">We have practitioner specialist skills across any or all parts of the design spectrum – from research and experience strategy and service design, to IA, UX and interface and content design, through to prototyping and movement. And we display a generalist attitude; an understanding of the whole design process, and can easily navigate, communicate and practice the full spectrum.</p>
      <p class="intro">We are passionate about the intersection between Design, Transformation and Engineering and the possibilities for innovation at those boundaries. We work in mixed discipline highly collaborative teams, committed to building better experiences and truly believe that user experience is the responsibility of the whole project team. </p>
    </div>
  </div>
  <div class="row">  
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Mix the thinking – and the making gets better</h2>
          <p>We help our clients identify the gap between customer expectation and reality, map the challenges and opportunities better digital experiences afford, and benchmark performance. We identify how to improve customer experience, anchored in user needs and supporting key business objectives.</p>
          <ul>
            <li>User and stakeholder research</li>
            <li>Competitor and market analysis</li>
            <li>Brand and design analysis</li>
            <li>Expert review and analysis of existing products and services</li>
          </ul>
        </div>
        <img class="description-card__img" src="/assets/images/Design/Workshop-sketches.jpg" alt="Mix the thinking image" role="presentation"/>
      </div>
    </div>  
    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card">
        <img class="description-card__img" src="/assets/images/Design/TCE-snippet2.jpg" alt="Vision and strategy image" role="presentation"/>
        <div class="description-card__text">
          <h2 class="h3">Vision and strategy</h2>
          <p>Our proprietary Target Customer Experience methodology provides a clear north star for new or existing propositions, products and services. It unifies an organisation around a shared vision and identifies the requirements for rapid, incremental design and build.</p>
          <ul>
            <li>User personas, scenarios and journey mapping </li>
            <li>Proposition development and system design</li>
            <li>Product and service definition</li>
            <li>Technology and capability mapping </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Experience design</h2>
          <p>Our user-centred design processes are highly visual and collaborative, putting the user front and centre. We have practical delivery skills to make actual things rather than just pictures of things. And these skills constantly evolve – so we self-teach a lot and have a mature practice of peer review for quality management and practitioner support.</p>
          <ul>
            <li>IA and UX</li>
            <li>Interface design</li>
            <li>Content design</li>
            <li>Design identity and systems</li>
            <li>Prototyping</li>
            <li>User testing</li>
          </ul>
        </div>
        <img class="description-card__img" src="/assets/images/Design/Nuffield-1.jpg" alt="Experience design image" role="presentation"/>
      </div>
    </div>
    
    
  </div>
  <div class="col offset-lg-8 col-lg-4 col-12 decoration decoration--rectangle"></div> 
  <div class="col offset-lg-9 col-lg-2 col-12 decoration decoration--circle decoration--circle__sm"></div>
</div>

<div class="container pb-l">
  <div class="row">
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner banner--midnight">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs?capability=Design&location=&q=' | url }}" class="button button--outline-rose">See open roles</a>
      </div>
    </div>
  </div>
</div>

<div class="container mb-l container--team">
  <div class="row">
    <div class="col col-12 pb-m">
      <h2 class="h3">Other capabilities</h2>
      <div class="card-group">
        <a href="{{ '/about/teams/transformation' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-transformation-sd.jpg" alt="Transformation image" role="presentation"/>
          <h3 class="h4">
            Transformation and Service Design
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
        <a href="{{ '/about/teams/engineering-and-devops' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-engineering.jpg" alt="Engineering image" role="presentation"/>
          <h3 class="h4">
            Engineering and DevOps
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
        <a href="{{ '/about/teams/delivery' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-delivery.jpg" alt="Delivery image" role="presentation"/>
          <h3 class="h4">
            Delivery
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
