---
title: PA digital recruitment
layout: default
---

<div class="bg-midnight colour-white pb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 col-12">
        <div class="hero">
          <h1 class="hero__title h1">Engineering and DevOpsTransformation and Service Design</h1>
          <a href="{{ '/about/teams' | url }}" class="colour-rose italic hero__back">&larr; Back to Our teams</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-l container--editorial">
  <div class="row">
    <div class="col col-lg-6 offset-lg-1 mt-m col-12 ">
      <h2 class="h2">We are a community of practitioners excited by the possibilities of great technology</h2>
    </div>
  </div>  
</div>
<div class="description-card__container container mb-xl container--editorial">
  <div class="row">
    <div class="col col-lg-6 offset-lg-1 mb-l col-12 align-self-start ">
      <p class="intro">We are motivated by delivering solutions that add value, achieve outcomes and delight. We work within multi-disciplinary teams formed of digital strategists, designers, researchers and delivery managers. </p>
      <p class="intro">From mission-critical platform engineering to global website builds, from enterprise API delivery to secure mobile applications, we have deep full stack development expertise across multiple technologies. This is backed by experts in Architecture, Quality Assurance and DevOps – as well as colleagues with deep expertise in Cloud, Artificial Intelligence, Internet of Things and Technology Innovation.</p>
      <p class="intro">We work with the most innovative technologies and hold partnerships with the world’s most recognised technology companies including Amazon, Google, Microsoft and Salesforce.</p>
      <p class="intro">Our core engineering capabilities include these listed below. </p>
      
    </div>
  </div>
  <div class="row">  
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Agile application and product development</h2>
          <p>We architect, build, scale and maintain business-critical software for our clients – including CMS, CRM, ecommerce and automation – often with complex integrations into regulated back-office systems. Our core stacks are Java, .NET and JavaScript/Node, but we pick the right tool the job.</p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Native and hybrid mobile apps</h2>
          <p>We build native mobile and hybrid apps using widely adopted technologies such as React Native and Flutter. This includes full support for mobile development pipelines and releasing to the major app stores and marketplaces. </p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">DevSecOps as a culture and a practice </h2>
          <p>We’re experts in performance and security, infrastructure-as-code, continuous deployment, and automation, ensuring the right code is deployed at the right time, to the right environments, in the right way. We use tools such as Terraform, Docker, Kubernetes, Jenkins, Octopus and many more. </p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
    </div>
    
    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card">
        <img class="description-card__img" src="https://picsum.photos/360/322" alt=""/>
        <div class="description-card__text">
          <h2 class="h3">Cloud-native modernisation</h2>
          <p>We plan, architect and migrate applications, services and data to the cloud, using infrastructure-as-code and platform-as-a-service as core principles. We maintain partnerships with AWS, Google Cloud and Microsoft Azure. </p>
        </div>
      </div>
      <div class="description-card">
        <img class="description-card__img" src="https://picsum.photos/360/322" alt=""/>
        <div class="description-card__text">
          <h2 class="h3">Quality Assurance and release management </h2>
          <p>Test strategy, test execution and specification by example activities are married with manual and automation testing throughout development – ensuring code quality and extremely reliable delivery. </p>
        </div>
      </div>
      <div class="description-card">
        <img class="description-card__img" src="https://picsum.photos/360/322" alt=""/>
        <div class="description-card__text">
          <h2 class="h3">Internet of Things (IoT)</h2>
          <p>The economy is global, and we are all near constantly interconnected through technology. We collaborate with specialist hardware and firmware engineers from across PA to develop IoT applications. Recent projects have included network-enabled pest control, water purification monitoring systems and Internet-enabled piggy banks.</p>
          <p>We’re always looking at emerging technologies (e.g. serverless, GraphQL) and processes (e.g. GitOps, DesignOps) and assessing how we can use them for ourselves and our clients.  </p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col offset-lg-7 col-lg-4 col-12 decoration decoration--rectangle"></div> 
  <div class="col offset-lg-8 col-lg-2 col-12 decoration decoration--circle decoration--circle__sm"></div>
</div>

<div class="container mt-l pb-m">
  <div class="row">
    <div class="col col-md-7 col-12 offset-md-1">
      <h2 class="h4">Training </h2>
      <p>We’re always looking at emerging technologies (e.g. serverless, GraphQL) and processes (e.g.GitOps, DesignOps) and assessing how we can use them for ourselves and our clients. We’re committed to our engineers’ development, providing world-class training and an ongoing commitment to continuous learning, communities of practice and personal growth. We are coached and mentored by leading experts within PA and have access to subject matter expertise across all industries.</p>
      <p>We have built deep alliances with market-leading technology providers – giving us valuable insights into the best products, so we can tailor the ideal solutions for our clients’ needs. Our engineers all have the opportunity to train for and get certified with our partners.</p>
      <p>Find out how we work with <a>Amazon Web Services</a>, <a>Google Cloud</a> and <a>Microsoft</a>. </p>
    </div>
  </div>
</div>       


<div class="container pb-l">
  <div class="row">
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner banner--midnight">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs?capability=Transformation' | url }}" class="button button--outline-rose">See open roles</a>
      </div>
    </div>
  </div>
</div>

<div class="container mb-l container--team">
  <div class="row">
    <div class="col col-12 pb-m">
      <h2 class="h3">Other capabilities</h2>
      <div class="card-group">
        <div class="card card__hover-link card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <h3 class="h4">
            <a href="{{ '/about/teams/design' | url }}">Design
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
        <div class="card card__hover-link card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <h3 class="h4">
            <a href="{{ '/about/teams/transformation' | url }}">Transformation and Service Design
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
        <div class="card card__hover-link card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <h3 class="h4">
            <a href="{{ '/about/teams/delivery' | url }}">Delivery
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
