---
title: Teams — Digital careers at PA
layout: default
---

<div class="bg-midnight colour-white pb-xl">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 col-12 pb-l">
        <div class="hero">
          <h1 class="hero__title h1">Teams</h1>
          <a href="{{ '/about' | url }}" class="colour-rose italic hero__back">&larr; Back to About us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-l container--team">
  <div class="row">
    <div class="col col-12 pb-m">
      <h2 class="h3">Capabilities</h2>
      <div class="card-group">
        <div class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-design.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            <a href="{{ '/about/teams/design' | url }}">Design
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
        <div class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-engineering.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            <a href="{{ '/about/teams/engineering-and-devops' | url }}">Engineering and DevOps
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
        <div class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-delivery.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            <a href="{{ '/about/teams/delivery' | url }}">Delivery
              <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
