/// Map of common colours used in the project. This should include brand colours and tints. Try to name the colours with meaningful names that describe the colour itself, as they are referred to by brand guidelines and designers (e.g. "gunmetal grey") rather than what the colour is used for (e.g. "button background").
/// @type Map
$colours: (
  midnight: #293846,
  mid-grey: #5d717f,
  light-grey: #E9EFF6,
  rose: #F3A7C9,
  white: #fff
);
