@each $name, $colour in $colours {
  .colour-#{$name} {
    color: $colour;
    a:not([class]) {
      color: $colour;
    }
  }
  .bg-#{$name} {
    background-color: $colour;
  }
}

@each $name, $size in $spacing {
  .mt-#{$name} { margin-top: spacing($name); }
  .mr-#{$name} { margin-right: spacing($name); }
  .mb-#{$name} { margin-bottom: spacing($name); }
  .ml-#{$name} { margin-left: spacing($name); }
  .pt-#{$name} { padding-top: spacing($name); }
  .pr-#{$name} { padding-right: spacing($name); }
  .pb-#{$name} { padding-bottom: spacing($name); }
  .pl-#{$name} { padding-left: spacing($name); }
}

@include respond-to('mobile') {
  @each $name, $size in $mspacing {
    .mt-#{$name} { margin-top: mspacing($name); }
    .mr-#{$name} { margin-right: mspacing($name); }
    .mb-#{$name} { margin-bottom: mspacing($name); }
    .ml-#{$name} { margin-left: mspacing($name); }
    .pt-#{$name} { padding-top: mspacing($name); }
    .pr-#{$name} { padding-right: mspacing($name); }
    .pb-#{$name} { padding-bottom: mspacing($name); }
    .pl-#{$name} { padding-left: mspacing($name); }
  }
}

.sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
}
