@each $name, $colour in $colours {
  .colour-#{$name} {
    color: $colour;
    a:not([class]) {
      color: $colour;
    }
  }
  .bg-#{$name} {
    background-color: $colour;
  }
}

.colour-white a:not([class]) {
  &:hover {
    color: $rose;
  }
}
@each $name, $size in $spacing {
  .mt-#{$name} { @include spacing('margin-top', $name); }
  .mr-#{$name} { @include spacing('margin-right', $name); }
  .mb-#{$name} { @include spacing('margin-bottom', $name); }
  .ml-#{$name} { @include spacing('margin-left', $name); }
  .pt-#{$name} { @include spacing('padding-top', $name); }
  .pr-#{$name} { @include spacing('padding-right', $name); }
  .pb-#{$name} { @include spacing('padding-bottom', $name); }
  .pl-#{$name} { @include spacing('padding-left', $name); }
}

@include respond-to('mobile') {
  @each $name, $size in $mspacing {
    .mt-#{$name} { margin-top: mspacing($name); }
    .mr-#{$name} { margin-right: mspacing($name); }
    .mb-#{$name} { margin-bottom: mspacing($name); }
    .ml-#{$name} { margin-left: mspacing($name); }
    .pt-#{$name} { padding-top: mspacing($name); }
    .pr-#{$name} { padding-right: mspacing($name); }
    .pb-#{$name} { padding-bottom: mspacing($name); }
    .pl-#{$name} { padding-left: mspacing($name); }
  }
}

.sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.visibly-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
