@each $name, $colour in $colours {
  .colour-#{$name} {
    color: $colour;
    a:not([class]) {
      color: $colour;
    }
  }
  .bg-#{$name} {
    background-color: $colour;
  }
}

@each $name, $size in $spacing {
  .mt-#{$name} { @include spacing('margin-top', $name); }
  .mr-#{$name} { @include spacing('margin-right', $name); }
  .mb-#{$name} { @include spacing('margin-bottom', $name); }
  .ml-#{$name} { @include spacing('margin-left', $name); }
  .pt-#{$name} { @include spacing('padding-top', $name); }
  .pr-#{$name} { @include spacing('padding-right', $name); }
  .pb-#{$name} { @include spacing('padding-bottom', $name); }
  .pl-#{$name} { @include spacing('padding-left', $name); }
}

.sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
}
