// // lock a fluid container with a max width
// // needs a media query and not max-width to reset margins also
// // as it's left-aligned and not centred
// @include media-breakpoint-up(lock) {
//   .container-fluid {
//     width: map-get($grid-breakpoints, lock) - 100px;
//     margin: 0;
//   }
// }

html {
  overflow-y: scroll; // always show a scrollbar
  scroll-behavior: smooth; // mmhmm, silky smooth
  scroll-padding-top: 80px;
}
.row {
  position: relative;
}

@include respond-to("tablet"){
  body {
    overflow-x: hidden;
  }
}
