body {
  @include font-family(Arial);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1;
  color: colour(midnight);
}

.h1 {
  @include font('Arial', h1, $responsive: true);
  font-weight: 700;
  margin-bottom: spacing(m);
}

.h2 {
  @include font('Arial', h2, $responsive: true);
  font-weight: 700;
  margin-bottom: spacing(m);
}

.h3 {
  @include font('Arial', h3, $responsive: true);
  font-weight: 700;
  margin-bottom: spacing(s);
}

.h4 {
  @include font('Arial', h4, $responsive: true);
  font-weight: 700;
  margin-bottom: spacing(xxs);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  @include font('Arial', intro, $responsive: true);
  color: $midgrey;

  a {
    color: $midgrey;
  }
}

.intro--white {
  color: white;
}

.grey-link {
  color: $midnight;
}

.grey {
  color: $midgrey;
  .h3 {
  color: $midnight;
  }
}

p,
ol,
ul {
  @include font('Arial', body);
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;
  margin-left: spacing(m);
}

.small {
  font-size: 1.4rem;
}

a {
  transition: all 0.25s;
}

p a:not([class]) {
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    position: relative;

    &:after {
      position: absolute;
      display: block;
      content: '';
      top: -2px;
      right: -2px;
      left: -3px;
      bottom: -3px;
      background: $rose;
      z-index: -1;
    }
  }
}

.italic {
  font-style: italic;
}