h1 {
  @include font('bold', 'xlarge');
  font-weight: bold;
  margin-bottom: .8em;

  + h2 {
    margin-top: 0;
  }
}

h2 {
  @include font('regular', 'large');
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: 2em;
}

h3 {
  @include font('regular', 'medium');
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: 2em;
}

h4 {
  @include font('regular', 'medium');
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: 2em;
}

a {
  color: colour('blue');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p, ul, ol, table {
  @include font('regular', 'medium');
  margin-bottom: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }
}

p:empty {
  display: none;
}

ol {
  list-style-type: decimal;
  margin-left: 2em;

  li {
    margin-bottom: 0.25em;
  }
}

ul {
  list-style-type: square;
  margin-left: 2em;

  li {
    margin-bottom: 0.25em;
  }
}

strong {
  font-weight: bold;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 20px;
  border: 1px solid colour('mid-grey');
  margin-bottom: 1.2em;
}

table {
  width: 100%;

  &.table-bordered {
    border: 1px solid colour('mid-grey');

    td, th {
      border: 1px solid colour('mid-grey');
    }
  }

  thead td,
  th {
    font-weight: bold;
  }

  thead td,
  th,
  td.highlight-grey {
    background: colour('light-grey');
  }

  td, th {
    padding: 10px 10px;
    vertical-align: top;
    text-align: left;
  }
}

pre {
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid colour('mid-grey');
  background: colour('light-grey');
  overflow: scroll;
}

code {
  font-family: monospace;
}
