<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ "/assets/stylesheets/application.css" | url }}" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="container">

      <div>
        <a href="/">PA logo</a>
        <ul>
          <li><a href="{{ "/jobs" | url }}">Find roles</a></li>
          <li><a href="{{ "/about" | url }}">About us</a></li>
          <li><a href="{{ "/locations" | url }}">Locations</a></li>
          <li><a href="{{ "/faqs" | url }}">FAQs</a></li>
        </ul>
      </div>

      {{ content | safe }}

      <div>
        Contact us
        <a href="mailto:a@a.com">Email us</a>
        <span>012345 67890</span>
        <a href="#">@PA_Consulting</a>
      </div>

    </div>

    <script type="text/javascript" src="{{ "/assets/javascripts/application.js" | url }}"></script>

  </body>
</html>
