<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="container">

      <div>
        <a href="/">PA logo</a>
        <ul>
          <li><a href="/jobs">Find roles</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/locations">Locations</a></li>
          <li><a href="/faqs">FAQs</a></li>
        </ul>
      </div>

      {{ content | safe }}

      <div>
        Contact us
        <a href="mailto:a@a.com">Email us</a>
        <span>012345 67890</span>
        <a href="#">@PA_Consulting</a>
      </div>

    </div>

    <script type="text/javascript" src="/assets/javascripts/application.js"></script>

  </body>
</html>
