<div class="bg-midnight colour-white pt-l pb-l" id="benefits">
  <div class="container container--benefits">
    <div class="row">
      <div class="col col-lg-6 offset-lg-1 col-12 mb-l">
        <h2 class="h2 colour-rose">Benefits</h2>
        <p class="intro">Our teams are trusted to deliver and given the space to be awesome. We’re an inclusive community for the curious, generous, pragmatic and enthusiastic digital practitioner.</p>
      </div>
      <div class="col col-lg-1 col-12">
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
      <div class="col col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 benefits-list-container">
        <div class="benefits-list">
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#tooth"></use>
            </svg>
            <h3 class="h4">Flexible healthcare</h3>
            <p>Choose a healthcare plan just for you, or add your loved ones. There's also NHS or private dental, annual eye tests and flu vaccines, gym discounts, Cycle to Work, and more.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#mountain"></use>
            </svg>
            <h3 class="h4">Annual leave</h3>
            <p>Because there's more to life than just work... You'll get 25 days leave (plus a nice bonus half-day at Christmas). You can also buy up to 5 extra days per year.</p>
          </div>
          <div class="benefits-list__item">
             <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#globe"></use>
            </svg>
            <h3 class="h4">Learning support</h3>
            <p>We've got a shiny new online learning academy, packed with training courses. We'll also support you in any external qualifications that take your fancy.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#hand"></use>
            </svg>
            <h3 class="h4">Planning for the future</h3>
            <p>Don't worry, we offer all the sensible stuff, including a pension, life assurance, income protection schemes, and PA shares.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#apple"></use>
            </svg>
            <h3 class="h4">Giving back</h3>
            <p>Take advantage of our great Give as You Earn scheme, or why not volunteer up to 3 days a year for a charity close to your heart?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>