<div class="bg-midnight colour-white pt-l pb-l" id="benefits">
  <div class="container container--benefits">
    <div class="row">
      <div class="col col-md-6 offset-md-1 col-12 mb-m">
        <h2 class="h2 colour-rose">{{ benefitsHeader if benefitsHeader else "Benefits" }}</h2>
        <p class="intro intro--white">We know you work best when you feel valued and when life feels balanced. So, our benefits have been designed by the people who actually work here.</p>
      </div>
      <div class="col offset-lg-8 col-lg-2 col-12">
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
      <div class="col col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 benefits-list-container">
        <div class="benefits-list">
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#tooth"></use>
            </svg>
            <h3 class="h4">Looking after you and yours</h3>
            <p>Flexible healthcare plans just for you, or your family. Depending on your office location, we offer a range of benefits including dental, eye tests, gym discounts, Cycle to Work, and more. </p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#clock"></use>
            </svg>
            <h3 class="h4">Finding work/life balance</h3>
            <p>Now, more than ever, we’re big on flexible working. Whatever the situation at the time, we’ll have an open discussion about what works for you. We’ve also enhanced our parental leave, so you can make more time for what really matters.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#mountain"></use>
            </svg>
            <h3 class="h4">Taking a break</h3>
            <p>Because there's more to life than just work…All our office locations have competitive annual leave allowances (plus usually a little extra at Christmas). You can also buy up to 5 extra days per year.</p>
          </div>
          <div class="benefits-list__item">
             <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#apple"></use>
            </svg>
            <h3 class="h4">Personal growth</h3>
            <p>Learning never stops - it feeds the mind, expands our skills, and strengthens our team. We offer a range of ongoing internal and external training programmes covering everything you'll need to feed and grow your career ambitions.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#globe"></use>
            </svg>
            <h3 class="h4">Planning for the future</h3>
            <p>Don't worry, we offer all the sensible stuff, including a pension, life assurance, income protection schemes, and PA shares.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--large">
              <use xlink:href="#hand"></use>
            </svg>
            <h3 class="h4">Giving back</h3>
            <p>Take advantage of our great Give as You Earn scheme, or why not volunteer up to 3 days a year for a charity close to your heart?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
