<div class="card" data-search-id="{{ job.id }}">
  <h3 data-search>{{ job.title }}</h3>
  <a href="/jobs/{{ job.title | slug }}-{{ job.id }}">View role</a>
  <p>{{ job.summary }}</p>
  <p data-search-location="{{ job.city }}">{{ job.location }}</p>
  <p data-search-capability>{{ job.capability }}</p>
  <p data-search-fulltext style="display:none;">{{ job.fulltext }}</p>

</div>

<script type="application/ld+json">
  {
    "@context" : "https://schema.org/",
    "@type" : "JobPosting",
    "title" : "{{ job.title}}",
    "description" : "{{ job.summary }}",
    "employmentType" : "CONTRACTOR",
    "hiringOrganization" : {
      "@type" : "Organization",
      "name" : "PA Consulting",
      "sameAs" : "https://www.paconsulting.com",
      "logo" : "https://www.paconsulting.com/Static/images/svgs/logo.svg"
    }
  }
</script>
