{% macro jobSearchForm(bindJavaScript='false') %}
  <form class="job-search-form" action="/jobs" {% if bindJavaScript == 'true' %}data-enabled{% endif %}>
    <span class="custom-input__container">
      <i class="custom-input__icon">
        <svg viewBox="0 0 30 30" class="icon icon--medium">
          <use xlink:href="#search"></use>
        </svg>
      </i>
      <input type="text" name="q" class="form-control custom-input" placeholder="What's your passion?">
    </span>  
    
    <select name="location" class="custom-select">
      <option value="">Location</option>
      {%- for location in jobsLocations -%}
        <option {% if (location.city | jobsCountByCity) == 0 %}disabled{% endif %} value="{{ location.city }}">{{ location.city }}, {{ location.country }}</option>
      {%- endfor -%}
    </select>
    <select name="capability" class="custom-select">
      <option value="">Discipline</option>
      
      {%- for capability in capabilities -%}
        <option {% if (capability.name | jobsCountByCapability) == 0 %}disabled{% endif %} >{{ capability.name }}</option>
      {%- endfor -%}
    </select>
    <button type="submit" class="button">Search</button>
  </form>
{% endmacro %}
