---
title: Client Stories — Digital careers at PA
layout: default
---

<div class="bg-midnight colour-white pb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 col-12">
        <div class="hero">
          <h1 class="hero__title h1">Client stories</h1>
          <a href="{{ '/about' | url }}" class="colour-rose italic hero__back">&larr; Back to About us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-l container--editorial">
  <div class="row">
    <div class="col col-lg-8 mt-m col-12 ">
      <h2 class="h2">Stimulating, meaningful work </h2>
    </div>
  </div>
</div>
<div class="description-card__container container mb-xl container--editorial">
  <div class="row">
    <div class="col col-lg-8 mb-l col-12 align-self-start ">
      <p class="intro">Bringing ingenuity to life is at the heart of how we approach our work – empowered teams delivering great digital outcomes whilst having fun doing it!</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-8 col-12 offset-lg-2 mb-s">
      <div class="card-group card-group--two mb-s">
        <div class="decoration decoration--circle decoration--circle__xlg"></div>
        <a href="https://www.paconsulting.com/our-experience/nuffield-health-digitising-core-healthcare-services/" target="_blank" rel="noopener" class="card">
          <img src="/assets/images/Cards/Client-stories/Nuffield-card.jpg" alt="Nuffield case study image" role="presentation"/>
          <div class="card__link">
            <span class="card__intro">Nuffield</span>
            <h3 class="h3 mb-m">Digitising core healthcare services</h3>
            <span class="card__label">Design, Engineering, Delivery
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="https://www.paconsulting.com/our-experience/water-source-providing-clean-safe-drinking-water-to-unserved-communities/" target="_blank" rel="noopener" class="card">
          <img src="/assets/images/Cards/Client-stories/Watersource-card.jpg" alt="Watersource case study image" role="presentation"/>
          <div class="card__link">
            <span class="card__intro">Water Source</span>
            <h3 class="h3 mb-m">Providing safe drinking water to unserved communities</h3>
            <span class="card__label">Design, Engineering, Delivery
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="https://www.paconsulting.com/our-experience/british-red-cross-a-new-donations-platform-for-one-of-the-uks-largest-charities" target="_blank" rel="noopener" class="card">
          <img src="/assets/images/Cards/Client-stories/BRC-card.jpg" alt="British Red Cross case study image" role="presentation"/>
          <div class="card__link">
            <span class="card__intro">British Red Cross</span>
            <h3 class="h3 mb-m">A new donations platform for one of the UK’s largest charities</h3>
            <span class="card__label">Design, Engineering, Delivery, Design
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="https://www.paconsulting.com/our-experience/photobox-harnessing-the-power-of-digital-engineering-to-strengthen-a-brand/" target="_blank" rel="noopener" class="card">
          <img src="/assets/images/Cards/Client-stories/Photobox-card.jpg" alt="Photobox case study image" role="presentation"/>
          <div class="card__link">
            <span class="card__intro">Photobox</span>
            <h3 class="h3 mb-m">Harnessing digital engineering to strengthen a brand</h3>
            <span class="card__label">Design, Engineering, Delivery
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="https://www.paconsulting.com/our-experience/rentokil-launching-an-award-winning-internet-of-things-cloud-platform-to-handle-24-million-messages-a-day/" rel="noopener" target="_blank" class="card">
          <img src="/assets/images/Cards/Client-stories/Rentokil-card.jpg" alt="Rentokil case study image" role="presentation"/>
          <div class="card__link">
            <span class="card__intro">Rentokil</span>
            <h3 class="h3 mb-m">Launching an award-winning IoT cloud platform</h3>
            <span class="card__label">Design, Engineering, Delivery
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container pb-l">
  <div class="row">
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner banner--rose">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs?capability=Transformation&location=&q=' | url }}" class="button button--outline-midnight">See open roles</a>
      </div>
    </div>
  </div>
</div>

