---
title: PA digital recruitment
layout: default
---

<div class="bg-midnight colour-white pb-xl mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-10 pb-l">
        <div class="hero">
        <span class="hero__intro"></span>
          <h1 class="hero__title h1">About us</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-8 col-12 ">
      <h2 class="h2">We’re proud of what we do</h2>
    </div>
  </div>  
</div>

<div class="description-card__container container mb-m container--editorial">
  <div class="row">
    <div class="col col-lg-8 mb-l col-12 align-self-start ">
      <p class="intro">Clients partner with us to re-imagine and design their customer experience, improve the technology that powers it, and develop the capability to better manage it themselves.</p>
    </div>
  </div>
  <div class="row">  
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card">
       
        <div class="description-card__text">
          <h2 class="h3">How we work</h2>
          <p>We work extremely collaboratively – with our clients and with each other. While our project teams are nearly always an exciting mix of disciplines from across the business, we do have four distinct capabilities within Digital. Find out about these below.</p>
        </div>
         <img class="description-card__img" src="/assets/images/About/How-we-work.jpg" alt="" role="presentation"/>
      </div>
    </div>
    
    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card description-card--reverse">
       <img class="description-card__img" src="/assets/images/About/Woking-smiles.jpg" alt="" role="presentation"/>
        <div class="description-card__text">
          <h2 class="h3">What we offer</h2>
          <p>Stimulating work that improves people’s lives, opportunities to learn from brilliant people and a supportive culture where you can thrive – just some of the reasons we love it here.</p>
          <a href="/about/why-work-for-us" class="button button--outline-midnight">Why work with us</a>
        </div>
      </div>
    </div>

    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card">
        <div class="description-card__text">
          <h2 class="h3">Our clients</h2>
          <p>We’re pretty excited about the projects we get to work on. Check out some of our client stories to get a flavour of the kind of things we do, and the ways we like to work.</p>
          <a href="/about/client-stories" class="button button--outline-midnight">Client stories</a>
        </div>
        <img class="description-card__img" src="/assets/images/About/BRC-1.jpg" alt="" role="presentation"/>
      </div>
    </div>
  </div>
  <div class="col offset-lg-8 col-lg-4 col-12 decoration decoration--rectangle"></div> 
  <div class="col offset-lg-9 col-lg-2 col-12 decoration decoration--circle decoration--circle__sm"></div>
</div>

<div class="container mb-l container--team">
  <div class="row">

    <div class="col col-lg-8 col-12 offset-lg-1 mb-l">
      <h2 class="h3">Our capabilities</h2>
      <p class="intro">Within the Digital team everyone has a home in one capability – one of the four areas described below. However, most of us dabble in at least one other area, too.</p>
    </div>

    <div class="col col-lg-8 col-12 offset-lg-2">
      <div class="card-group card-group--two">

        <a href="{{ '/about/teams/transformation' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-transformation-sd.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            Transformation and Service Design
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
        <a href="{{ '/about/teams/design' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-design.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            Design
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
        <a href="{{ '/about/teams/engineering-and-devops' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-engineering.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            Engineering and DevOps
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
        <a href="{{ '/about/teams/delivery' | url }}" class="card card__hover-link card--grey">
          <img src="/assets/images/Cards/Capability/Capability-delivery.jpg" alt="" role="presentation"/>
          <h3 class="h4">
            Delivery
          </h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#chevronRight"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-l mb-m">
  <div class="row">
    <div class="col offset-lg-1 mb-s col-12 ">
      <h2 class="h3 mb-0">Your career</h2>
    </div>
  </div>  
  <div class="row">
    <div class="col col-lg-7 offset-lg-1 col-12 ">

      <p class="intro h5">We know it’s important to understand how you progress at a company – whether it’s a priority or something you want to take your time over.</p>
      <p class="intro h5">Depending on your role, it’s common at PA to have both an internal PA rank (like ‘Principal Consultant’), as well as a practitioner job title (such as ‘Senior Designer’). Over time your growing skillset will enable you to move on up. You can find out more at your interview.</p>
    </div>
    <div class="col col-lg-9 col-12 ">
      <ul class="point-list">
        <li class="point-list__item">
          <h3 class="h4">Analyst</h3>
          <p class="grey">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</p>
        </li>
        <li class="point-list__item">
          <h3 class="h4">Consultant analyst</h3>
          <p class="grey">You’ll provide practical support to your team and clients – usually through a mixture of research, analysis and delivery. You’ll build on your training and expand your PA network through internal initiatives.</p>
        </li>
        <li class="point-list__item">
          <h3 class="h4">Consultant</h3>
          <p class="grey">You’ll be an integral part of project teams, delivering work independently and collaborating with colleagues and clients across a range of disciplines. You’ll continue to build on your training and get stuck into internal projects.</p>
        </li>
        <li class="point-list__item">
          <h3 class="h4">Principal consultant</h3>
          <p class="grey">You’ll be working with some of our key clients, enjoying a mixture of working independently and leading project teams. You’ll contribute to business development by nurturing day-to-day client relationships. </p>
        </li>
        <li class="point-list__item">
          <h3 class="h4">Managing consultant</h3>
          <p class="grey">You’ll manage our most complex projects, nurture teams and be responsible for initiating and leading business development opportunities. </p>
        </li>
        <li class="point-list__item">
          <h3 class="h4">Partner</h3>
          <p class="grey">You’ll help set the overall strategic direction of the firm, taking on management of large-scale new business and leading large accounts. </p>
        </li>
      </ul>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row">
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs' | url }}" class="button button--outline-midnight">See open roles</a>
      </div>
    </div>
  </div>
</div>