---
title: PA digital recruitment
layout: default
---

<div class="bg-midnight colour-white pb-l mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-10 offset-1">

        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">About PA's Digital team</h1>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-11 offset-1">

      <h2 class="h3">Why work for us</h2>
      <a href="/about/why-work-for-us">Why work for us</a>

      <h2 class="h3">Our teams</h2>
      <a href="/about/our-teams">Our teams</a>

      <h2 class="h3">Our clients</h2>
      <a href="/about/our-clients">Our clients</a>

    </div>
  </div>
</div>
