---
title: PA digital recruitment
layout: default
---


<div class="bg-midnight colour-white pb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 col-12">

        <div class="hero">
          <h1 class="hero__title h1">Why work with us?</h1>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mt-l mb-l container--team">
  <div class="row">
    <div class="col col-lg-6 offset-lg-1 mb-l col-12 ">
      <h2 class="h2">What we’re offering</h2>
      <p class="intro">When you join PA, we ask for your ideas, expertise and commitment. In return we’ll give you stimulating work that improves people’s lives, opportunities to learn from brilliant people and a supportive culture where you can thrive. </p>
    </div>
    <div class="w-100"></div>
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card">
        <img class="description-card__img" src="https://picsum.photos/360/322" alt=""/>
        <div class="description-card__text">
          <h2 class="h3">Our vision</h2>
          <p>We want to be the best, most ingenious, Digital team that our clients have ever worked with. We want Digital to be the best team you’ve ever worked with in the best job you’ve ever had.</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Who we are</h2>
          <p>We’re a community of digital natives. We accelerate our clients’ ability to exceed their customers’ expectations in an always-on digital world.</p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
      <div class="description-card">
        <div class="description-card__text">
          <h2 class="h3">Our mission</h2>
          <p>We design, build, maintain and run digital solutions – at scale – that drive innovation, and enrich people’s lives. Our skills and talent enable PA’s purpose of creating a positive human future in a technology-driven world.</p>
        </div>
      </div>
      <div class="decoration decoration--rectangle"></div>
    </div>
  </div>
</div>

<div class="container mt-l mb-l container--team">
  <div class="row">
    <div class="col col-lg-6 offset-lg-1 mb-l col-12 ">
      <h2 class="h3">What we’re offering</h2>
      <ul class="point-list">
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
        <li class="point-list__item">You’ll provide hands-on support to colleagues across a range of internal and client-facing projects. You’ll also receive the training and exposure needed to develop your craft, manage clients and get the most out of everything PA has to offer.</li>
      </ul>
    </div>
  </div>
</div>    

<div class="bg-midnight colour-white pt-l pb-l">
  <div class="container container--benefits">
    <div class="row">
      <div class="col col-lg-6 offset-lg-1 col-12 mb-l">
        <h2 class="h2 colour-rose">Benefits</h2>
        <p class="intro">Our teams are trusted to deliver and given the space to be awesome. We’re an inclusive community for the curious, generous, pragmatic and enthusiastic digital practitioner.</p>
      </div>
      <div class="col col-lg-1 col-12">
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
      <div class="col col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 benefits-list-container">
        <div class="benefits-list">
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium">
              <use xlink:href="#calendar"></use>
            </svg>
            <h3 class="h4">Flexible healthcare</h3>
            <p>Choose a healthcare plan just for you, or add your loved ones. There's also NHS or private dental, annual eye tests and flu vaccines, gym discounts, Cycle to Work, and more.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium">
              <use xlink:href="#calendar"></use>
            </svg>
            <h3 class="h4">Annual leave</h3>
            <p>Because there's more to life than just work... You'll get 25 days leave (plus a nice bonus half-day at Christmas). You can also buy up to 5 extra days per year.</p>
          </div>
          <div class="benefits-list__item">
             <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium">
              <use xlink:href="#calendar"></use>
            </svg>
            <h3 class="h4">Learning support</h3>
            <p>We've got a shiny new online learning academy, packed with training courses. We'll also support you in any external qualifications that take your fancy.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium">
              <use xlink:href="#calendar"></use>
            </svg>
            <h3 class="h4">Planning for the future</h3>
            <p>Don't worry, we offer all the sensible stuff, including a pension, life assurance, income protection schemes, and PA shares.</p>
          </div>
          <div class="benefits-list__item">
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium">
              <use xlink:href="#calendar"></use>
            </svg>
            <h3 class="h4">Giving back</h3>
            <p>Take advantage of our great Give as You Earn scheme, or why not volunteer up to 3 days a year for a charity close to your heart?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-l pb-m">
  <div class="row">
    <div class="col col-lg-6 col-12 offset-lg-1 mb-l">
      <h2 class="h2">Stimulating, meaningful work</h2>
      <p class="intro">We're bringing ingenuity to life for all of our clients. We're also having a great time, which helps a lot.</p>
    </div>
    <div class="w-100"></div>
    <div class="col col-lg-8 col-12 offset-lg-2">
      <div class="card-group card-group--two">
        <div class="decoration decoration--circle decoration--circle__xlg"></div>
        <div class="card">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h3 mb-m">Todo todo todo</h3>
          <a href="#">London
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
              <use xlink:href="#chevronRight"></use>
            </svg>
          </a>
        </div>
        <div class="card">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h3 mb-m">Todo todo todo</h3>
          <a href="#">London
            <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
              <use xlink:href="#chevronRight"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner mt-l mb-l">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs' | url }}" class="button button--outline-midnight">View our open roles</a>
      </div>
    </div>
    <div class="col col-12">
      <div class="card-group">
        <div class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#external"></use>
          </svg>
        </div>
        <div class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#external"></use>
          </svg>
        </div>
        <div class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small">
            <use xlink:href="#external"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
