---
title: Why work for us — Digital careers at PA
layout: default
---


<div class="bg-midnight colour-white pb-xl">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 col-12 pb-m pt-s">
        <div class="hero">
          <h1 class="hero__title h1">Why work with us?</h1>
          <a href="{{ '/about' | url }}" class="colour-rose italic hero__back">&larr; Back to About us</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mt-m">
  <div class="row">
    <div class="col col-lg-6 mt-m col-12 ">
      <h2 class="h2">What we’re offering</h2>
    </div>
  </div>
</div>
<div class="description-card__container container mb-xl container--editorial">
  <div class="row">
    <div class="col col-lg-8 mb-l col-12 align-self-start ">
      <p class="intro">When you join PA, we ask for your ideas, expertise and commitment. In return we’ll give you stimulating work that improves people’s lives, opportunities to learn from brilliant people and a supportive culture where you can thrive. </p>
    </div>
  </div>
  <div class="row">
   <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Who we are</h2>
          <p>We’re a community of digital natives. We accelerate our clients’ ability to exceed their customers’ expectations in an always-on digital world.</p>
        </div>
        <img class="description-card__img" src="/assets/images/Why-work-for-us/Design-team2.jpg" alt="Who we are" role="presentation"/>
      </div>
    </div>

    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card">
        <img class="description-card__img" src="/assets/images/Why-work-for-us/Stickies-office.jpg" alt="Our vision" role="presentation"/>
        <div class="description-card__text">
          <h2 class="h3">Our vision</h2>
          <p>We want to be the best, most ingenious, Digital team that our clients have ever worked with. We want Digital to be the best team you’ve ever worked with in the best job you’ve ever had.</p>
        </div>
      </div>
    </div>

    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card">
        <div class="description-card__text">
          <h2 class="h3">Our mission</h2>
          <p>We design, build, maintain and run digital solutions – at scale – that drive innovation, and enrich people’s lives. Our skills and talent enable PA’s purpose of creating a positive human future in a technology-driven world.</p>
        </div>
        <img class="description-card__img" src="/assets/images/Why-work-for-us/GCP-event.jpg" alt="Our mission" role="presentation"/>
      </div>
    </div>

    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card description-card--reverse">
      <img class="description-card__img" src="/assets/images/Why-work-for-us/Positive-humans.jpg" alt="Building a positive human future" role="presentation"/>
        <div class="description-card__text">
          <h2 class="h3">Building a positive human future</h2>
          <p>Successful businesses are inclusive and diverse. They’re businesses where people of any age, gender, sexual orientation, ethnic group or ability are given the opportunity to bring their true self to work and excel in what they do. At PA, we’re always listening and learning and looking for ways to create an ever more inclusive and diverse place to work, where we all feel supported and can be ourselves.</p>
          <a href="https://www.paconsulting.com/about-us/life-at-pa/" target="_blank" rel="noopener" class="button button--outline-midnight">Life at PA</a>
        </div>

      </div>
    </div>

  </div>
  <div class="col offset-lg-8 col-lg-4 col-12 decoration decoration--long-rectangle"></div>
  {# <div class="col offset-lg-8 col-lg-2 col-12 decoration decoration--circle decoration--circle__sm"></div> #}

</div>

{% set benefitsHeader = 'Getting the balance right' %}
{% include "benefits.njk" %}

<div class="container mt-l">
  <div class="row">
    <div class="col col-md-10 col-12 offset-md-1">
      <div class="banner">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs' | url }}" class="button button--outline-midnight">See open roles</a>
      </div>
    </div>
  </div>
</div>

{# <div class="container mt-l pb-m">
  <div class="row">
    <div class="col col-md-7 col-12 offset-md-1">
      <h2 class="h4">Building a positive human future </h2>
      <p>Successful businesses are inclusive and diverse. They’re businesses where people of any age, gender, sexual orientation, ethnic group or ability are given the opportunity to bring their true self to work and excel in what they do. At PA, inclusion and diversity is of the utmost importance to us. It fuels our creativity, enabling us to live our Purpose, ‘Bringing Ingenuity to Life,’ and it matters to our people and to our clients. We’re always listening and learning and looking for ways to create an ever more inclusive and diverse place to work, where we all feel supported and can be ourselves.</p>
      <p>Read more about <a>our commitment to inclusion</a>, <a>diversity and ending racism</a>, and <a>life at PA</a>.
    </div>
  </div>
</div>        #}
