---
title: Jobs at PA digital
layout: default
---

<h1>Become part of the team</h1>

<form>
  <input type="text" name="q">
  <select name="location">
  {%- for location in jobsLocations -%}
    <option>{{ location.cityLabel }}, {{ location.countryLabel }}</option>
  {%- endfor -%}
  </select>
</form>

{% for job in jobs %}
  {% include "jobCard.njk" %}
{% endfor %}
