<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>

    <div>
      <a href="/">PA logo</a>
      <ul>
        <li><a href="/jobs">Find roles</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/locations">Locations</a></li>
      </ul>
    </div>

    <div class="container">
      {{ content | safe }}
    </div>

    <div>
      Contact us
      <a href="mailto:a@a.com">Email us</a>
      <span>012345 67890</span>
      <a href="#">@PA_Consulting</a>
    </div>

  </body>
</html>
