---
title: EEO Documents — Digital careers at PA
layout: default
---

<div class="bg-midnight colour-white pb-s mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-8 pb-l">
        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">EEO and Affirmative Action Documents</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-12 mb-l ">
      <h2 class="h2">Equal Employment Opportunity (EEO) and Affirmative Action for US-based roles</h2>
      <p class="intro">Download our US Department of Labor regulation documents.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-12 mb-l ">
      <ul class="download-list">
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/EEO_is_the_Law_-_English.pdf">
            EEO is the Law – English 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/EEO_is_the_Law_-_Spanish.pdf">
            EEO is the Law – Spanish
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/EEO_is_the_Law_Supplement_-_English.pdf">
            EEO is the Law Supplement – English 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/EEO_is_the_Law_Supplement_-_Spanish.pdf">
            EEO is the Law Supplement – Spanish 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/E-Verify_Participation_-English_.pdf">
            E-Verify Participation
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/Pay_Transparency_-Nondiscrimination_Provision.pdf">
            Pay Transparency
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/E-Verify_Participation_Poster_Spanish.pdf">
            E-Verify Participation Poster – Spanish
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/EEO_Policy_Statement.pdf">
            EEO Policy Statement
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/Employee_Polygraph_Protection_Act.pdf">
            Employee Polygraph Protection Act
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/Fair_Chance_Initiative_-_City_of_LA.PDF">
            Fair Chance Initiative – City of LA 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="../assets/docs/EEO-docs/Family_Medical_Leave_Act.pdf">
            Family Medical Leave Act
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
