---
title: PA documents
layout: default
---

<div class="bg-midnight colour-white pb-s mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-8 pb-l">
        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">EEO and Affirmative Action Documents</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-12 mb-l ">
      <h2 class="h2">Equal Employment Opportunity (EEO) and Affirmative Action for US-based roles</h2>
      <p class="intro">Download our US Department of Labor regulation documents.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-12 mb-l ">
      <ul class="download-list">
        <li  class="download-list__item">
          <a href="todo">
            EEO is the Law – English 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            EEO is the Law – Spanish
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            EEO is the Law Supplement – English 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            EEO is the Law Supplement – Spanish 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            E-Verify Participation
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            Pay Transparency
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            E-Verify Participation Poster – Spanish
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            EEO Policy Statement
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            Employee Polygraph Protection Act
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            Fair Chance Initiative – City of LA 
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
        <li  class="download-list__item">
          <a href="todo">
            Family Medical Leave Act
            <svg viewBox="0 0 100 100" class="icon icon--medium">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
