---
title: PA digital recruitment
layout: default
---


<div class="bg-midnight colour-white pb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 col-12">

        <div class="hero">
          <h1 class="hero__title h1">Frequently asked questions</h1>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mt-l mb-l container--team">
  <div class="row">
    <div class="col col-lg-6 offset-lg-1 mb-l col-12 ">
      <h2 class="h2">Need some help? </h2>
      <p class="intro">Sometimes nothing beats a handy FAQs page. Here are the questions we get asked most. Still have a question? recruitment@paconsulting.com</p>
    </div>
    <div class="col col-lg-10 offset-lg-1 mb-l col-12 ">
      <main class="collapsable">
        <section class="collapsable__section">
        
          <h2 class="h4 collapsable__sectionTitle">General</h2>
          <div class="collapsable__item">
              <h3>What roles do you recruit for?</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula.</p> 
              <p>Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros.</p>
          </div>
        </section>  
        <section>  
          <h2 class="h4 collapsable__sectionTitle">Our culture</h2>
          <div class="collapsable__item">
              <h3>What training do you offer?</h3>
              <p>Continuous learning is key to how we operate at PA. You’ll get access to our brand-new online academy which provides courses and workshops to help you grow and develop throughout your career. </p> 
              <p>We also offer support to help you undertake external qualifications to ensure our teams are working at the cutting edge of technology. For example, we’ve had engineers complete AWS and Google Cloud certifications to name just a couple.</p>
          </div>
          <div class="collapsable__item">
              <h3>What training do you offer?</h3>
              <p>Continuous learning is key to how we operate at PA. You’ll get access to our brand-new online academy which provides courses and workshops to help you grow and develop throughout your career. </p> 
              <p>We also offer support to help you undertake external qualifications to ensure our teams are working at the cutting edge of technology. For example, we’ve had engineers complete AWS and Google Cloud certifications to name just a couple.</p>
          </div>
        <section>
      </main>
    </div>  
  </div>
</div>    