---
title: PA digital recruitment
layout: default
---


<div class="bg-midnight colour-white pb-xl mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-11 col-12 pb-l">
        <div class="hero">
        <span class="hero__intro"></span>
          <h1 class="hero__title h1">Frequently asked questions</h1>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mt-m mb-l">
  <div class="row">
    <div class="col col-12">
      <div class="fixed-decorations">
        <div class="decoration decoration--rectangle"></div>
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
      <div class="row">
        <div class="col col-lg-7 mb-m col-12 ">
          <h2 class="h2">Need some help? </h2>
          <p class="intro">Sometimes nothing beats a handy FAQs page. Here are the questions we get asked most.<br /> 
          Still not sure? Contact <a href="mailto:recruitment@paconsulting.com">recruitment@paconsulting.com</a></p>
        </div>
        <div class="col col-lg-9 mb-l col-12 ">
          <main class="collapsable">
              <h2 class="h4 collapsable__sectionTitle">General</h2>
              <div class="collapsable__item">
                  <h3>What roles do you recruit for?</h3>
                  <p> We’re always on the lookout for digital practitioners with a maker’s mindset to join our team. All open roles can be found on the PA Digital job search page. We recruit across the digital spectrum from design to engineering and transformation to delivery.</p>
              </div>
              <div class="collapsable__item">
                  <h3>What training do you offer?</h3>
                  <p>Continuous learning is key to how we operate at PA. You’ll get access to our brand-new online academy which provides courses and workshops to help you grow and develop throughout your career.</p> 
                  <p>We also offer support to help you undertake external qualifications to ensure our teams are working at the cutting edge of technology. For example, we’ve had engineers complete AWS and Google Cloud certifications to name just a couple.</p>
              </div>
              <h2 class="h4 collapsable__sectionTitle">Culture</h2>
              <div class="collapsable__item">
                  <h3>What’s the dress code?</h3>
                  <p>We want to be relaxed and comfortable, so our ideas can shine. Most of our clients expect this from us, too. Sometimes we do need to dress a bit more smartly, it really depends on the client and situation, but we trust you to dress the right way for your day.</p>
              </div>
              <div class="collapsable__item">
                  <h3>What’s your approach to flexible working?</h3>
                  <p>Depending on the role, we’re always open to discussions about remote and flexible working and will usually address this on a case by case basis. However, in the current climate of Covid 19 nearly all of our staff are working (brilliantly and effectively) from home.</p> 
                  <p>We have all of the necessary tools in place to manage this – from conference calling to collaborative workshop programmes – and will continue to adapt as the situation evolves. If relevant, we would discuss this with you further at interview.</p>
              </div>
              <div class="collapsable__item">
                  <h3>What are the opportunities to travel?</h3>
                  <p>Although we deliver fantastic work from anywhere in the world, the opportunity to travel ultimately depends on the client’s needs and where they are based. As a rule, our team are expected to work anywhere, so be ready to travel overseas and more regularly domestically – you could be going anywhere from Cambridge to Bristol or New York to Oslo. You’ll always have the chance to discuss what you’re comfortable with, though</p>
              </div>
              <h2 class="h4 collapsable__sectionTitle">My application</h2>
              <div class="collapsable__item">
                  <h3>Who should I address my covering letter to?</h3>
                  <p>Please address your covering letter to ‘The Recruitment Team’ as they will be the first to read it.</p>
              </div>
              <div class="collapsable__item">
                  <h3>When will I know the outcome of my application?</h3>
                  <p>We’ll send you an acknowledgement as soon as we receive your application. We then aim to give you a decision within three weeks.</p>
                  <p>However, as we do receive hundreds of applications, each of which is read individually by our recruiters, we may need to ask you to be a bit patient at busy points in the year.</p>
                  <p>You can set an ‘alarm’ when submitting your application in our system, so you’ll be notified when your application has progressed.</p>
              </div>
              <div class="collapsable__item">
                  <h3>If I’m invited for an interview, will you pay my travel costs?</h3>
                  <p>We appreciate you may have to travel some way for an interview, and so we will review travel expenses on a case-by-case basis.</p>
              </div>
              <div class="collapsable__item">
                  <h3>Can I receive feedback on my application?</h3>
                  <p>We know that constructive feedback is important, but unfortunately because of the sheer amount of applications we get we’re unable to provide individual feedback.</p>
              </div>
              <div class="collapsable__item">
                  <h3>Will having a disability affect my application?</h3>
                  <p>Not at all, we are an equal opportunity employer and we’re committed to treating allcandidates and employees equally and fairly. The only reason to disclose your disability is to let us know of any adjustments you may require during the recruitment process.</p>
                  <p>Additional information if you are applying for a role in the USA:</p>
                  <p>If you have a disability that inhibits your ability to apply online, please send an email with your resume to <a href="mailto:JobAssist@paconsulting.com">JobAssist@paconsulting.com</a> or contact us by calling +1 212 973 5942 to express interest in a specific position. This email address and phone number are dedicated exclusively to assist disabled job seekers whose disability prevents them from being able to apply online. Only messages left for this purpose will be considered. A response to your request may take up to two business days.
                  <p>Please note:</p>
                  <ul>
                    <li>This option is available only to those needing an accommodation related to a disability.</li>
                    <li>In order to express interest, you must have the information related to the specific position you are interested in (requisition number, job title, location, etc.).</li>
                    <li>Information related to existing profiles or applications will not be provided via this phone number.</li>
                  </ul>  
              </div>
              <div class="collapsable__item">
                  <h3>Can I apply for more than one position?</h3>
                  <p>Yes, but you’ll need to submit a separate application for each role you’re applying for. We recommend you think about which role best suits your future career goals, and make sure your application reflects your interest in this area.</p>
              </div>
          </main>
        </div>  
      </div>
    </div>
  </div>
</div>    