---
title: PA digital recruitment
layout: default
---

{% import "jobSearchForm.njk" as search with context %}

<div class="bg-midnight colour-white pb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-9 col-12 pb-m">

        <div class="hero">
          <span class="hero__intro">Digital careers at PA</span>
          <h1 class="hero__title h1">There’s never been a better time <br> to join the Digital team at PA</h1>
        </div>

        {% if jobs.length > 3 %}
          <h2 class="h4 colour-rose mb-s">{{ jobs.length }} open role{% if jobs.length > 1 %}s{% endif %}</h2>
          {{ search.jobSearchForm('false') }}
        {% endif %}
        {% if jobs.length < 4 %}
          <a href="{{ "/jobs" | url }}"><button class="button">View our open roles</button></a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="container mt-l container--editorial">
  <div class="row">
    <div class="col col-lg-8 mt-s col-12 ">
      <h2 class="h2">We use our passion for digital to help transform our client’s core business, culture and capabilities.</h2>
    </div>
  </div>  
</div>
<div class="description-card__container container mb-xl container--editorial">
  <div class="row">
    <div class="col col-lg-8 mb-l col-12 align-self-start ">
      <p class="intro">As part of our digital team you’ll work alongside colleagues from across PA – conceiving and delivering transformative digital solutions to today’s complex business challenges.</p>
    </div>
  </div>
  <div class="row">  
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">Mix the thinking – and the making gets better.</h2>
          <p>By blending PA’s rich history in consulting with our digital agency culture and capabilities, we mix disciplines so that we deliver faster, iterate smarter and constantly learn – challenging the status quo to seek the best answerfor our clients and their customers.</p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-12">
      <div class="description-card">
        <img class="description-card__img" src="https://picsum.photos/360/322" alt=""/>
        <div class="description-card__text">
          <h2 class="h3">Using digital to bring ingenuity to life</h2>
          <p>From strategic thinking to detailed service and product design – to complex engineering and bleeding edge experimentation, we’re proudto drive innovation and enrich people’s lives. We create a positivehuman future in a technology driven world.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col col-lg-4 col-md-6 col-12 offset-lg-2">
      <div class="description-card description-card--reverse">
        <div class="description-card__text">
          <h2 class="h3">The best team you’ll ever work with, in the best job you’ll ever have.</h2>
          <p>Our teams are trusted to deliver and given the space to be awesome. We’re an inclusive community for the curious, generous, pragmatic and enthusiastic digital practitioner.</p>
        </div>
        <img class="description-card__img" src="https://picsum.photos/360/322" alt="" />
      </div>
    </div>
  </div>
  <div class="col offset-lg-8 col-lg-4 col-12 decoration decoration--long-rectangle"></div> 
</div>

{% include "benefits.njk" %}

<div class="container mt-l">
  <div class="row">
    <div class="col col-lg-7 col-12 offset-lg-1 mb-l">
      <h2 class="h2">Stimulating, meaningful work</h2>
      <p class="intro">Bringing ingenuity to life is at the heart of how we approach our work– empowered teams delivering great digital outcomes whilst having fun doing it!</p>
    </div>
    <div class="w-100"></div>
    <div class="col col-lg-8 col-12 offset-lg-2 mb-s">
      <div class="card-group card-group--two mb-s">
        <div class="decoration decoration--circle decoration--circle__xlg"></div>
        <a href="#" class="card">
          <img src="https://picsum.photos/360/220" alt="">
          <div class="card__link">
            <span class="card__intro">Todo</span>
            <h3 class="h3 mb-m">Todo todo todo</h3>
            <span class="card__label">London
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="#" class="card">
          <img src="https://picsum.photos/360/220" alt="">
          <div class="card__link">
            <span class="card__intro">Todo</span>
            <h3 class="h3 mb-m">Todo todo todo</h3>
            <span class="card__label">London
              <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                <use xlink:href="#chevronRight"></use>
              </svg>
            </span>
          </div>  
        </a>
      </div>
    </div>
    <div class="col col-md-10 col-12 offset-md-1 mb-m">
      <div class="banner mt-m mb-m">
        <h2 class="h3">What are you waiting for?</h2>
        <a href="{{ '/jobs' | url }}" class="button button--outline-midnight">See open roles</a>
      </div>
    </div>
    <div class="col col-12">
      <h2 class="h3">In the media</h2>
      <div class="card-group">
        <a href="#" class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small icon--external">
            <use xlink:href="#external"></use>
          </svg>
        </a>
        <a href="#" class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small icon--external">
            <use xlink:href="#external"></use>
          </svg>
        </a>
        <a href="#" class="card card--grey">
          <img src="https://picsum.photos/360/220" alt="">
          <span class="card__intro">Todo</span>
          <h3 class="h4 mb-m">Todo todo todo</h3>
          <svg viewBox="0 0 100 100" class="icon icon--midnight icon--small icon--external">
            <use xlink:href="#external"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
