---
title: PA digital recruitment
layout: default
---

<h1 class="h1">There's never been a better time to join the Digital team at PA</h1>

<h2>{{ jobs.length }} open job positions</h2>

{% import "jobSearchForm.njk" as search with context %}
{{ search.jobSearchForm('false') }}

<h2>Working at PA digital</h2>

<h3>What do we do?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec est sed ante bibendum malesuada. Nunc a pulvinar lectus, laoreet fringilla magna. Cras finibus egestas laoreet. Aliquam nec purus arcu. Sed semper ante at commodo suscipit. Integer imperdiet diam ut nunc bibendum, id sodales lectus dignissim. Praesent facilisis tincidunt pellentesque.</p>

<h3>What is it like working here?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec est sed ante bibendum malesuada. Nunc a pulvinar lectus, laoreet fringilla magna. Cras finibus egestas laoreet. Aliquam nec purus arcu. Sed semper ante at commodo suscipit. Integer imperdiet diam ut nunc bibendum, id sodales lectus dignissim. Praesent facilisis tincidunt pellentesque.</p>

<h3>Benefits</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec est sed ante bibendum malesuada. Nunc a pulvinar lectus, laoreet fringilla magna. Cras finibus egestas laoreet. Aliquam nec purus arcu. Sed semper ante at commodo suscipit. Integer imperdiet diam ut nunc bibendum, id sodales lectus dignissim. Praesent facilisis tincidunt pellentesque.</p>
<ul>
  <li>Benefit 1</li>
  <li>Benefit 2</li>
  <li>Benefit 3</li>
</ul>
