---
layout: default
pagination:
    data: jobs
    size: 1
    alias: job 
permalink: "/jobs/p-{{ job.title | slug }}-{{ job.id }}/"
eleventyComputed:
  title: "{{ job.title }} in {{ job.city }} — Digital careers at PA"

---

<script type="application/ld+json">
  {
    "@context" : "https://schema.org/",
    "@type" : "JobPosting",
    "title" : "{{ job.title}}",
    "description" : "{{ job.summary }}",
    "employmentType" : "{{ job.length }}, {{ job.contract }}",
    "hiringOrganization" : {
      "@type" : "Organization",
      "name" : "PA Consulting",
      "sameAs" : "https://www.paconsulting.com",
      "logo" : "https://www.paconsulting.com/Static/images/svgs/logo.svg"
    }
  }
</script>

<div class="bg-midnight colour-white pb-m">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-lg-10">

        <div class="hero mb-m">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">{{ job.title }}</h1>
        </div>

        <ul class="metadata-list mb-m">
          <li>
            {{ job.office }}, {{ job.city }}
          </li>
          <li>
            {{ job.length }}, {{ job.contract }}
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="bg-midnight colour-white sticky">
  <div class="container">
    <div class="row">
      <div class="col col-12">
      <nav aria-labelledby="Secondary menu">
        <ul class="tabs">
          <li ><a href="#role">The role</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#process">Recruitment process</a></li>
          <li><a href="#location">Location</a></li>
          <li class="tab__cta"><a href="{{ job.applyUrl }}" class="button">Apply now</a></li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<div class="container pb-l" id="role">
 <div class="row">
    <div class="col col-12 col-lg-8 pt-l"> 

      <h2 class="h2">The role</h2>
    </div>
  </div>    
  <div class="row">
    <div class="col col-12 col-lg-7 mb-l"> 

      {# <h2 class="h2">The role</h2> #}

      <div class="grey job-content">
      {% for f in job.description %}
        {% if f.key == "become-part-of-the-team" %}
          {{ f.content | safe }}
        {% elseif (f.key == "diversity-statement") or (f.key == "inclusion-and-diversity") %}
        {% elseif f.key == "benefits" %}
        {% else %}
          <h2 class="h3">{{ f.title }}</h2>
          {{ f.content | safe }}
        {% endif %}
      {% endfor %}
      </div>

    </div>
    <div class="col col-12 offset-lg-1 col-lg-4 mb-l ">

      {% switch job.capability %}
      {% case 'Design' %}
      <h2 class="h4">The Design team</h2>
      <p class="grey">Our design and strategy teams work together to create a vision for measurably improving customer experience, anchored in user needs and supporting key business objectives. </p>
      <a href="{{ '/about/teams/design' | url }}" class="button button--outline-midnight">More about Design</a>
      {% case 'Engineering & DevOps' %}
      <h2 class="h4">The Engineering team</h2>
      <p class="grey">We have deep full stack development expertise across multiple technologies. This is backed by experts in Architecture, Quality Assurance and DevOps – as well as colleagues with expertise in Cloud, Artificial Intelligence, Internet of Things and Technology Innovation.</p>
      <a href="{{ '/about/teams/engineering-and-devops' | url }}" class="button button--outline-midnight">More about Engineering &amp; Devops</a>
      {% case 'Delivery' %}
      <h2 class="h4">The Delivery team</h2>
      <p class="grey">Text goes here</p>
      <a href="{{ '/about/teams/delivery' | url }}" class="button button--outline-midnight">More about Delivery</a>
      {% case 'Transformation' %}
      <h2 class="h4">The Transformation team</h2>
      <p class="grey">We help clients understand the value digital can bring to the core of their business and transform ideas for change into action.</p>
      <a href="{{ '/about/teams/transformation' | url }}" class="button button--outline-midnight">More about Transformation</a>
      {% endswitch %}


      {% switch job.capability %}
      {% case 'Design' %}
        <div class="team-card mb-m mt-l">
          <img src="/assets/images/Team/Ben-McKeown.jpeg" alt="Ben McKeown" role="presentation"/>
          <span class="team-card__job">Senior Designer</span>
          <h3 class="h4">Ben McKeown"</h3>
          <p class="grey">"The breadth of meaningful, positive impact work you can get involved with within PA is staggering. It’s inspiring working with smart, passionate people in a culture that genuinely understand the value and impact of good design."</p>
        </div>
      {% case 'Engineering & DevOps' %}
        <div class="team-card mb-m mt-l">
          <img src="/assets/images/Team/Claire Bates.png" alt="" role="presentation"/>
          <span class="team-card__job">Front-End Developer</span>
          <h3 class="h4">Claire Bates"</h3>
          <p class="grey">"The thing I love most about working here is the people. I really enjoy working with people who make an effort to share knowledge, take mental health at work seriously, and care about addressing anything that isn’t working well."</p>
        </div>
      {% case 'Delivery' %}
        <div class="team-card mb-m mt-l">
          <img src="/assets/images/Team/Lauren-Davies.png" alt="Lauren Davies" role="presentation"/>
          <span class="team-card__job">Delivery Lead</span>
          <h3 class="h4">Lauren Davies"</h3>
          <p class="grey">"No matter how busy we might be, in the Delivery team we always spare the time to come together to socialise, share knowledge, mentor, and ultimately develop our practice. With such varied backgrounds, different members sharing how they wouldovercome challenges is invaluable, and somethingI’ve not really experienced elsewhere."</p>
        </div>
      {% case 'Transformation' %}
        <div class="team-card mb-m mt-l">
          <img src="/assets/images/Team/Chike-Eduputa-photo.jpg" alt="Chike Eduputa" role="presentation"/>
          <span class="team-card__job">Principal Consultant – Data Digital Strategy</span>
          <h3 class="h4">Chike Eduputa"</h3>
          <p class="grey">"I love working with smart people with diverse personalities and experiences, who can apply critical thinking and logic to create ingenious solutions to pressing client needs. At the heart of PA lies her people, with unique talents, deep expertise and a mindset that no challenge is too great."</p>
        </div>
      {% endswitch %}


      
      
    </div>
  </div>
</div>

{% include "benefits.njk" %}

<div class="container pt-l pb-l" id="process">
  <div class="row">
    <div class="col col-11 offset-1">

      <h2 class="h3 mb-0">Recruitment process</h2>

    </div>
    <div class="col col-10 col-lg-6 offset-1 mt-l">

      <div class="steps">
        <ol>
          <li>
            <span class="h4">Online application</span>
            <p class="grey">First up, get started by applying online. Your dream job could be waiting for you!</p>
          </li>
          <li>
            <span class="h4">First-round interview</span>
            <p class="grey">We want to understand why you’ve applied and what interests you. We’ll ask you about a few bits from your CV and hope to hear how your experiences have shaped your skills. These interviews typically last around 30 minutes.</p>
          </li>
          <li>
          {% switch job.capability %}
          {% case 'Design' %}
            <span class="h4">Portfolio review</span>
            <p class="grey">We’ll ask you to present a portfolio of your work that best describes your skills and areas of interest. We’ll be assessing a number of things: your experience across the full design process, evidence of different research and design approaches, your ways of working, the quality of your storytelling and how you collaborate in a discussion group.</p>
          {% case 'Engineering & DevOps' %}
            <span class="h4">Second round interview</span>
            <p class="grey">The next stage will be more specialised. You’ll meet other engineers and future peers to assess your core skills and technical expertise. For developer roles, we will have set you a brief coding challenge for completion prior to this, ready for discussion at interview. </p>
          {% case 'Delivery' %}
            <span class="h4">Second round interview</span>
            <p class="grey">Text goes here</p>
          {% case 'Transformation' %}
            <span class="h4">Second round interview</span>
            <p class="grey">The next stage will be more specialised. Two members of the Transformation Capability will ask you to talk through some of your work in detail, the type of problems you have solved, the role you played and ask specific questions to evaluate your fit to the role.</p>
          {% endswitch %}
          </li>
          {% if job.capability != 'Design' %}
            <li>
              <span class="h4">Final round interview</span>
              {% switch job.capability %}
                {% case 'Transformation' %}
                  <p class="grey">Congrats, you’ve made it to the final stage! You’ll be tasked with presenting some of your work to a small panel from the team including a Partner or Senior Manager – either in person or over the phone – for 30 minutes, followed by a 30-minute discussion. This is your chance to demonstrate your presentation and storytelling skills and to ask any burning questions, so make sure you have these ready. </p>
                {% default %}
                  <p class="grey">Congrats, you’ve made it to the final stage! You’ll be interviewed by a Partner or Senior Manager from your team – either in person or over the phone – for up to one hour. This is also your chance to ask any burning questions, so make sure you have these ready.</p>
              {% endswitch %}
            </li>
          {% endif %}
        </ol>
      </div>


    </div>

    <div class="col col-12 col-lg-4 offset-lg-1 job--process pt-l">
      {# <div class="decoration decoration--circle decoration--circle__xlg"></div> #}
      <h3 class="h4">Preparation tips</h3>
      {% switch job.capability %}
          {% case 'Design' %}
            <p class="grey">Remember, we’ll already have looked at your cv and portfolio and we like getting right under the hood of your work, so the portfolio review is your chance to tell us a bit more about the context and challenges you faced, and any successes or failures. Try not to just repeat what we’ve already seen or read. Consider sharing some new examples, or show us your behind the scenes workings, so we can really get a feel for the breadth and depth of your work.</p>
          {% case 'Engineering & DevOps' %}
            <p class="grey">Remember, we’ll already have looked at your CV, so this is your chance to tell us a bit more about the context and challenges you faced, and any successes or failures. Expect to be asked for examples around commercial awareness, working in teams, empathy, communication and what motivates you, as well as digging into your technical specialism.</p>
          {% case 'Delivery' %}
            <p class="grey">Text goes here</p>
          {% case 'Transformation' %}
            <p class="grey">Members of our capability have diverse backgrounds, which we consider a strength. Through the interview process we’ll be looking for strong evidence of digital expertise applied to experience strategy and/or digital business strategy. In the final stage, the type of work you choose to present is up to you. We’re looking for high levels of clarity in how you describe your methodology, the insight you uncovered and a sharp articulation of a strategic rationale. </p>
          {% endswitch %}
    </div>
  </div>
</div>

<div class="bg-midnight colour-white location pt-l pb-l" id="location">
  <div class="container">
  <div class="col offset-lg-9 col-lg-2 col-12">
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
    {% switch job.office %}
    {% case 'Victoria' %}
    <div class="row mb-m">
      <div class="col col-12 col-lg-8">
        <h2 class="h3 colour-rose">Location</h2>
        <p>The base office for this role is Victoria, London. However, you may sometimes be required to work onsite at client offices, too. You can find out more about our offices and remote working approach on our <a href="{{ '/locations' | url }}">Locations</a> page.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-1">
        <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium mb-xxs">
          <use xlink:href="#location-icon"></use>
        </svg>
        <h3 class="h4">Address</h3>
        <p>10 Bressenden Place, Westminster, London SW1E 5DN</p>
        <h3 class="h4">Transport links</h3>
        <p>Our office is a very short walk from Victoria station. Victoria is on the National Rail as well as Circle &amp; District and Victoria Underground lines.</p>
        <p>Victoria – 2 minutes walk<br>Charing Cross – 15 minutes by tube<br>Waterloo – 15 minutes by tube</p>
        <p class="mt-m"><a class="button button--outline-rose" href="{{ '/locations' | url }}">Our offices</a></p>
      </div>
      <div class="col col-12 col-lg-7 mt-l">
        <iframe
          width="100%"
          height="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJXi-36xEBSY27we803yqd2y9bkIsuY-g
            &q=PA+Consulting,10+Bressenden+Place,London" allowfullscreen>
        </iframe>
      </div>
    </div>
    {% case 'Farringdon' %}
    <div class="row mb-m">
      <div class="col col-12 col-lg-8">
        <h2 class="h3 colour-rose">Location</h2>
        <p>The base office for this role is Farringdon, London. However, you may sometimes be required to work onsite at client offices, too. You can find out more about our offices and remote working approach on our <a href="{{ '/locations' | url }}">Locations</a> page.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-1">
        <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium mb-xxs">
          <use xlink:href="#location-icon"></use>
        </svg>
        <h3 class="h4">Address</h3>
        <p>50 Farringdon Rd, London EC1M 3HE</p>
        <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium mb-xxs">
          <use xlink:href="#bus"></use>
        </svg>
        <h3 class="h4">Transport links</h3>
        <p>Our office is a very short walk from Farringdon station. Farringdon is on the National Rail as well as Circle, Hammersmith &amp; City, and Metropolitan Underground lines.</p>
        <p>Farringdon - 5 minute walk<br>London Bridge - 15 minutes by tube<br>Waterloo - 12 minutes by tube</p>
        <p class="mt-m"><a class="button button--outline-rose" href="{{ '/locations' | url }}">Our offices</a></p>
      </div>
      <div class="col col-lg-7 d-none d-lg-block">
        <iframe
          width="100%"
          height="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJXi-36xEBSY27we803yqd2y9bkIsuY-g
            &q=PA+Consulting,50+Farringdon+Road,London" allowfullscreen>
        </iframe>
      </div>
    </div>
    {% case 'Belfast' %}
    <div class="row mb-m">
      <div class="col col-12 col-lg-8">
        <h2 class="h3 colour-rose">Location</h2>
        <p>The base office for this role is Belfast. However, you may sometimes be required to work onsite at client offices, too. You can find out more about our offices and remote working approach on our <a href="{{ '/locations' | url }}">Locations</a> page.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-1">
         <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium mb-xxs">
          <use xlink:href="#location-icon"></use>
        </svg>
        <h3 class="h4">Address</h3>
        <p>79 Chichester Street, Belfast, BT1 4JE</p>
        <svg viewBox="0 0 100 100" class="icon icon--rose icon--medium mb-xxs">
          <use xlink:href="#bus"></use>
        </svg>
        <h3 class="h4">Transport links</h3>
        <p>Our office is right in the city centre, a few minutes' walk from several Translink Metro stops, Lanyon Place and Great Victoria Street train stations. There’s also lots of parking in the vicinity – the closest being Victoria Square right across the road.</p>
        <p>Laganside bus station – 5 minutes walk<br>Europa bus station – 12 minutes walk<br>Lanyon Place – 8 minutes walk<br>Great Victoria Street – 13 minutes walk</p>
        <p class="mt-m"><a class="button button--outline-rose" href="{{ '/locations' | url }}">Our offices</a></p>
      </div>
      <div class="col col-12 col-lg-7 mt-l">
        <iframe
          width="100%"
          height="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJXi-36xEBSY27we803yqd2y9bkIsuY-g
            &q=PA+Consulting,79+Chichester+St,Belfast" allowfullscreen>
        </iframe>
      </div>
    </div>
    {% default %}
    <div class="row mb-m">
      <div class="col col-12 col-lg-8">
        <h2 class="h3 colour-rose">Location</h2>
        <p>The base office for this role is {{ job.location }}. However, you may sometimes be required to work onsite at client offices, too. You can find out more about our offices and remote working approach on our <a href="{{ '/locations' | url }}">Locations</a> page.</p>
      </div>
    </div>
    {% endswitch %}
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col col-md-10 col-12 offset-md-1">
    <div class="banner mt-l mb-l">
      <h2 class="h3">Still have questions?</h2>
      <a href="{{ '/faqs' | url }}" class="button button--outline-midnight">View our FAQs</a>
    </div>
  </div>
  
  <div class="col col-12 offset-md-1 col-md-7 mb-xl">
    {% for f in job.description %}
      {% if f.key == "diversity-statement" %}
        <h2 class="h4">{{ f.title }}</h2>
        <div class="grey">
        {{ f.content | safe }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>

{% set relatedJobs = (job | relatedJobs) %}
{% if relatedJobs.length > 1 %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-l">
        <div class="heading mb-m">
          <h2 class="h3">More roles at PA Digital</h2>
          {% if jobs.length > 3 %}
          <a class="button button--outline-midnight" href="{{ '/jobs' | url }}">View all roles</a>
          {% endif %}
        </div>
        <div class="card-group">
          {% for j in relatedJobs %}
            {% if j.id != job.id %}
            <a href="{{ ['/jobs', ([(j.title | slug), j.id] | join('-'))] | join('/p-') | url }}" class="card card__hover-link">
              <span class="card__intro">{{ j.capability }}</span>
              <h3 class="h4 mb-m">{{ j.title }}</h3>
              <span class="card__location">
                {{ j.office }}, {{ j.city }}
                <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                  <use xlink:href="#chevronRight"></use>
                </svg>
              </span>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
