---
title: Jobs — Digital careers at PA
layout: default
---

{% import "jobSearchForm.njk" as search with context %}

<div class="bg-midnight colour-white pb-l mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-m">

        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">Find roles</h1>
        </div>

        {# {% if jobs.length > 3 %} #}
        {{ search.jobSearchForm('true') }}
        {# {% endif %} #}

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
    {% if jobs.length > 3 %}
      <div class="jobs-decorations">
        <div class="decoration decoration--rectangle"></div>
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
    {% endif %}
      <div class="row">
        <div data-search-no-results class="col col-12 col-lg-9">
          <p>We don't have any open roles at the moment. </p>
          <h2 class="h3">That said, we're always looking for great people so please send your CV to our <a class="grey-link" href="mailto:recruitmentenquiries@paconsulting.com">Recruitment team</a> and they'll be in touch if there are any opportunities</h2>
        </div>
        <div data-search-results class="col col-12 col-lg-9">
          <h2 class="h3" data-search-count></h2>
          <div class="card-group card-group--list">
            {% for job in jobs %}
              <a href="{{ ['/jobs', ([(job.title | slug), job.id] | join('-'))] | join('/') | url }}" class="card card__hover-link" data-search-id="{{ job.id }}">
                <span class="card__intro" data-search-capability>{{ job.capability }}</span>
                <h3 class="h4" data-search>{{ job.title }}</h3>
                <p class="card__summary">{{ job.summary }}</p>
                <span class="card__location" data-search-location="{{ job.city }}">
                  {{ job.office }}, {{ job.city }}
                  <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                    <use xlink:href="#chevronRight"></use>
                  </svg>
                </span>
                <!--googleoff: all-->
                <p data-search-fulltext hidden>{{ job.fulltext }}</p>
                <!--googleon: all-->
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
