---
title: Jobs at PA digital
layout: default
---

<h1>Find roles</h1>

{% import "jobSearchForm.njk" as search with context %}
{{ search.jobSearchForm('true') }}

<div data-search-no-results>
  <h2>No results</h2>
</div>

<div data-search-results>
  <h2 data-search-count></h2>
  {% for job in jobs %}
    {% include "jobCard.njk" %}
  {% endfor %}
</div>
