---
title: Jobs at PA digital
layout: default
---

{% import "jobSearchForm.njk" as search with context %}

<div class="bg-midnight colour-white pb-l mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 col-12 offset-lg-1 mb-m">

        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">Find roles</h1>
        </div>

        {{ search.jobSearchForm('true') }}

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
    {% if jobs.length > 3 %}
      <div class="jobs-decorations">
        <div class="decoration decoration--rectangle"></div>
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
    {% endif %}
      <div class="row">
        <div data-search-no-results class="col col-12 col-lg-9 offset-lg-1">
          <h2 class="h3">No results</h2>
        </div>
        <div data-search-results class="col col-12 col-lg-9 offset-lg-1">
          <h2 class="h3" data-search-count></h2>
          <div class="card-group card-group--list">
            {% for job in jobs %}
              <div class="card card__hover-link" data-search-id="{{ job.id }}">
                <span class="card__intro" data-search-capability>{{ job.capability }}</span>
                <h3 class="h4" data-search><a href="{{ ['/jobs', ([(job.title | slug), job.id] | join('-'))] | join('/') | url }}">{{ job.title }}</a></h3>
                <p>{{ job.summary }}</p>
                <span class="card__location" data-search-location="{{ job.city }}">
                  {{ job.office }}, {{ job.city }}
                  <svg viewBox="0 0 100 100" class="icon icon--rose icon--small">
                    <use xlink:href="#chevronRight"></use>
                  </svg>
                </span>
                <!--googleoff: all-->
                <p data-search-fulltext hidden>{{ job.fulltext }}</p>
                <!--googleon: all-->
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
