---
title: PA digital locations
layout: default
---

{% set belfastJobs = ('Belfast' | jobsCountByCity) %}
{% set londonJobs = ('London' | jobsCountByCity) %}

<div class="bg-midnight colour-white pb-xl mb-l">
  <div class="container">
    <div class="row">
      <div class="col col-10 pb-l">
        <div class="hero">
          <span class="hero__intro"></span>
          <h1 class="hero__title h1">Our locations</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-11 mb-l ">
      <div class="fixed-decorations">
        <div class="decoration decoration--rectangle"></div>
        <div class="decoration decoration--circle decoration--circle__sm"></div>
      </div>
      <h2 class="h2">Wherever I lay my hat...</h2>
      <div class="row  no-gutters ">
        <p class="col-lg-8 col-12 intro">The nature of digital working – especially now – is that we should be able to deliver fantastic work from anywhere. And we do. That said, we also love collaborating face-to-face (and lunch-to-lunch) with our colleagues and clients, too. As such, we have three PA Digital office ‘hubs’, with client onsite working and remote working alongside that. Read on to find out a bit more. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-12 offset-lg-1 mb-m horizontal-card">
      <div class="row">
        <div class="col-md-5 col-12">
          <h3 class="h3">Belfast</h3>
        </div>  
      </div>
      <div class="row">  
        <div class="col-md-5 col-12 order-md-1 order-2">
          <p class="horizontal-card__text">Based in the city centre, we enjoy a modern, fresh office space built around a large shared space – perfect for coffee catchups, office stand-ups, breakouts and everything in between!  A fun, vibrant and friendly place to work, it’s home to around 100 digital engineers working on a variety of exciting and challenging projects across multiple technologies and clients.</p>
          {% if belfastJobs > 0 %}
            <a href="/jobs?city=Belfast">View {{ belfastJobs }} open role{% if belfastJobs > 1 %}s{% endif %}</a>
          {% endif %}
        </div>  
        <div class="col-md-5 col-12 order-md-2 order-1">
          <img class="horizontal-card__img" src="https://picsum.photos/360/322" alt="" />
        </div>  
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-10 col-12 offset-lg-2 mb-m horizontal-card">
      <div class="row">
        <div class="col-md-5 col-12 offset-lg-5">
          <h3 class="h3">Boston</h3>
        </div>
      </div>
      <div class="row">  
        <div class="col-md-5 col-12">
          <img class="horizontal-card__img" src="https://picsum.photos/360/322" alt="" />
        </div>  
        <div class="col-md-5 col-12">
          <p class="horizontal-card__text">Located on historic South Street, our office in downtown Boston is just one of our offices in the US, and is the innovation hub for many of our Northeast US clients. Teams of designers, engineers and branding specialists work in a comfortable loft office with lots of makers spaces and areas perfect for collaboration.</p>
          {% if bostonJobs > 0 %}
            <a href="/jobs?city=Boston">View {{ bostonJobs }} open role{% if bostonJobs > 1 %}s{% endif %}</a>
          {% endif %}
        </div>  
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-10 col-12 offset-lg-2 mb-m horizontal-card">
      <div class="row">
        <div class="col-md-5 col-12">
          <h3 class="h3">Farringdon</h3>
        </div>  
      </div>
      <div class="row">  
        <div class="col-md-5 col-12 order-md-1 order-2">
          <p class="horizontal-card__text">Possibly the PA office with the most post-it notes, Farringdon is home to around 150 of our digital designers, engineers, strategists and anyone who likes to be near a well-stocked biscuit tin. There are lots of sofas, a good few war rooms and plenty of windows, encouraging collaborative, positive vibes. We’re a short hop from our friends in the Victoria office and some of the best food and drink in London.</p>
          {% if londonJobs > 0 %}
            <a href="/jobs?city=London">View {{ londonJobs }} open role{% if londonJobs > 1 %}s{% endif %}</a>
          {% endif %}
        </div>  
        <div class="col-md-5 col-12 order-md-2 order-1">
          <img class="horizontal-card__img" src="https://picsum.photos/360/322" alt="" />
        </div>  
      </div>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-lg-10 col-12 offset-lg-2 mb-m horizontal-card">
      <div class="row">
        <div class="col-md-5 col-12 offset-lg-5">
          <h3 class="h3">Victoria</h3>
        </div>
      </div>
      <div class="row">  
        <div class="col-md-5 col-12">
          <img class="horizontal-card__img" src="https://picsum.photos/360/322" alt="" />
        </div>  
        <div class="col-md-5 col-12">
          <p class="horizontal-card__text">We’re very proud of our beautiful headquarters, right in the heart of the Victoria regeneration project. There’s lots of communal space – whether you want to get your head down quietly or spread out with your team. Just be careful you don’t lose 30 minutes gazing out the window at the incredible view. Being home to around 500 technologists, data analysts, researchers, consultants and more, it’s a great place to meet colleagues working on all sorts of fascinating projects. </p>
          {% if bostonJobs > 0 %}
            <a href="/jobs?city=Boston">View {{ bostonJobs }} open role{% if bostonJobs > 1 %}s{% endif %}</a>
          {% endif %}
        </div>  
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-8 col-12 offset-lg-1 mt-s ">
      <h2 class="h4">Working client-side</h2>
      <p class="grey">Depending on the project you’re working on, you may also get the chance to work in different locations. Usually this will be onsite at your client’s office, and sometimes this will be in one of our other PA offices – such as Cambridge, Bristol, New York or Oslo.</p>
    </div>
    <div class="col-lg-8 col-12 offset-lg-1 mb-s mt-l ">
      <h2 class="h4">Remote working</h2>
      <p class="grey">We have always been open to discussions about remote working and have usually addressed this on a case by case basis. However, in the current climate of course nearly all of our staff are working (brilliantly and effectively) from home. We have all of the necessary tools in place to do this – from conference calling to collaborative workshop programmes – and will continue to adapt as the situation evolves. </p>
    </div>
  </div>
</div>
