---
title: Styleguide
layout: default
---

<h1 class="h1">Heading 1</h1>
<h2 class="h2">Heading 2</h2>
<h3 class="h3">Heading 3</h3>
<h4 class="h4">Heading 4</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec est sed ante bibendum malesuada. Nunc a pulvinar lectus, laoreet fringilla magna. Cras finibus egestas laoreet. Aliquam nec purus arcu. Sed semper ante at commodo suscipit. Integer imperdiet diam ut nunc bibendum, id sodales lectus dignissim. Praesent facilisis tincidunt pellentesque.</p>

<ul>
  <li>Benefit 1</li>
  <li>Benefit 2</li>
  <li>Benefit 3</li>
</ul>

<ol>
  <li>Benefit 1</li>
  <li>Benefit 2</li>
  <li>Benefit 3</li>
</ol>

<p><a href="#">This is a text link</a></p>

<p><a href="#" class="btn btn-primary">This is a primary button</a></p>

<p><a href="#" class="btn btn-dark">This is a dark button</a></p>
